Proyecto_R11_Amarillo/R11_Amarillo.json
[
    {
        "id": "827583e3690d12a9",
        "type": "tab",
        "label": "Vibraciones RL",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a8ed4df4f73a3fc2",
        "type": "ui_button",
        "z": "827583e3690d12a9",
        "name": "Btn V1",
        "group": "d68497fefc4941ef",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "EXPERIMENTO V1",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#1565C0",
        "className": "",
        "icon": "",
        "payload": "v1",
        "payloadType": "str",
        "topic": "select",
        "topicType": "str",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "0403126dab35ac86"
            ]
        ]
    },
    {
        "id": "8bd82d9451fc4782",
        "type": "ui_button",
        "z": "827583e3690d12a9",
        "name": "Btn V2",
        "group": "d68497fefc4941ef",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "EXPERIMENTO V2",
        "color": "#ffffff",
        "bgcolor": "#c62828",
        "icon": "",
        "payload": "v2",
        "payloadType": "str",
        "topic": "select",
        "topicType": "str",
        "x": 200,
        "y": 530,
        "wires": [
            [
                "0403126dab35ac86"
            ]
        ]
    },
    {
        "id": "5f2da5b2fdd3d56c",
        "type": "ui_template",
        "z": "827583e3690d12a9",
        "group": "87aeeb5997624a18",
        "name": "Stats",
        "order": 1,
        "width": 9,
        "height": 6,
        "format": "\n<style>\n*{box-sizing:border-box;margin:0;padding:0;}\n.wrap{\n  width:100%;height:100%;\n  background:linear-gradient(160deg,#0a1628 0%,#0d1f3c 100%);\n  border-radius:12px;border:1px solid rgba(100,181,246,0.12);\n  padding:10px;\n  font-family:'DM Sans',Roboto,sans-serif;\n  box-shadow:0 8px 32px rgba(0,0,0,0.5),inset 0 1px 0 rgba(255,255,255,0.04);\n}\ntable.st{width:100%;border-collapse:collapse;font-size:12px;}\ntable.st th{\n  background:rgba(21,101,192,0.2);\n  color:#64b5f6;font-size:10px;font-weight:700;\n  padding:6px 8px;text-align:left;\n  border-bottom:1px solid rgba(21,101,192,0.35);\n  letter-spacing:.06em;text-transform:uppercase;\n}\ntable.st td{\n  padding:5px 8px;\n  border-bottom:1px solid rgba(255,255,255,0.04);\n  vertical-align:middle;color:#b0bec5;\n}\ntable.st tr:last-child td{border-bottom:none;}\ntable.st tr:hover td{background:rgba(21,101,192,0.1);}\n.sv{font-weight:700;font-size:13px;}\n.bw{width:55px;height:4px;background:rgba(255,255,255,0.08);border-radius:2px;\n    display:inline-block;vertical-align:middle;margin-left:5px;}\n.bf{height:100%;border-radius:2px;}\n.empty{text-align:center;color:#2a3f5f;padding:16px;}\n</style>\n<div class=\"wrap\">\n  <table class=\"st\">\n    <thead><tr><th>Métrica</th><th>Valor</th><th>Rango</th><th>Descripción</th></tr></thead>\n    <tbody id=\"sb\">\n      <tr><td colspan=\"4\" class=\"empty\">Pulsa V1 o V2 para cargar</td></tr>\n    </tbody>\n  </table>\n</div>\n<script>\n(function(){\n  scope.$watch('msg',function(msg){\n    if(!msg||!msg.payload)return;\n    try{\n      var d=typeof msg.payload==='string'?JSON.parse(msg.payload):msg.payload;\n      if(d.type!=='stats')return;\n      var s=d.stats, col=d.color;\n      var rows=[\n        {l:'N muestras',   v:s.n.toLocaleString(),    r:null,             dc:'Total registros válidos'},\n        {l:'Media W',      v:s.mean+' W',             r:(s.mean-20)/3.5,  dc:'Potencia activa media'},\n        {l:'Desv. típica', v:'± '+s.stdev+' W',       r:s.stdev,          dc:'Dispersión de la señal'},\n        {l:'Mínimo',       v:s.min+' W',              r:(s.min-20)/3.5,   dc:'Valor mínimo'},\n        {l:'Máximo',       v:s.max+' W',              r:(s.max-20)/3.5,   dc:'Valor máximo'},\n        {l:'Mediana',      v:s.median+' W',           r:(s.median-20)/3.5,dc:'Valor central'},\n        {l:'Q1',           v:s.q1+' W',               r:(s.q1-20)/3.5,    dc:'Percentil 25%'},\n        {l:'Q3',           v:s.q3+' W',               r:(s.q3-20)/3.5,    dc:'Percentil 75%'},\n        {l:'IQR',          v:s.iqr+' W',              r:Math.min(s.iqr,1),dc:'Rango intercuartílico'},\n      ];\n      document.getElementById('sb').innerHTML=rows.map(function(r){\n        var bar=r.r!==null?'<div class=\"bw\"><div class=\"bf\" style=\"width:'\n          +Math.round(Math.max(0,Math.min(1,r.r))*100)+'%;background:'+col+';box-shadow:0 0 6px '+col+'66\"></div></div>':'';\n        return'<tr><td><b style=\"color:#90a4ae\">'+r.l+'</b></td>'\n          +'<td><span class=\"sv\" style=\"color:'+col+';text-shadow:0 0 10px '+col+'44\">'+r.v+'</span></td>'\n          +'<td>'+bar+'</td>'\n          +'<td style=\"font-size:10px;color:#455a6a;\">'+r.dc+'</td></tr>';\n      }).join('');\n    }catch(e){console.error(e);}\n  });\n}());\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 950,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7cb172e8c0c505af",
        "type": "ui_template",
        "z": "827583e3690d12a9",
        "group": "ff074d9c6f7f4f0c",
        "name": "Heatmap",
        "order": 1,
        "width": 12,
        "height": 7,
        "format": "<style>\n  * { box-sizing: border-box; margin: 0; padding: 0; }\n  .wrap {\n    width: 100%; height: 100%; padding: 8px;\n    display: flex; flex-direction: column;\n    font-family: 'DM Sans', Roboto, sans-serif;\n    background: linear-gradient(160deg,#050d18 0%,#08111f 100%);\n    border-radius: 12px;\n    border: 1px solid rgba(66,165,245,0.1);\n    box-shadow: 0 8px 32px rgba(0,0,0,0.6), inset 0 1px 0 rgba(255,255,255,0.03);\n  }\n  #hcv { display: block; width: 100%; flex: 1; min-height: 300px; border-radius: 8px; background: #000; }\n  .controls {\n    display: flex; align-items: center; gap: 8px;\n    margin-bottom: 6px; flex-shrink: 0; flex-wrap: wrap;\n  }\n  .ctrl-btn {\n    padding: 3px 10px; border-radius: 5px;\n    border: 1px solid rgba(100,181,246,0.3);\n    background: rgba(21,101,192,0.15); color: #64b5f6;\n    font-size: 10px; font-weight: 700; letter-spacing: .06em;\n    cursor: pointer; text-transform: uppercase; transition: background .15s;\n  }\n  .ctrl-btn:hover { background: rgba(21,101,192,0.35); }\n  .ctrl-btn.active { background: rgba(21,101,192,0.45); border-color: #42a5f5; color: #fff; }\n  .ctrl-sep { width: 1px; height: 16px; background: rgba(100,181,246,0.15); }\n  .ctrl-label { font-size: 10px; color: #546e7a; white-space: nowrap; }\n  .exp-badge {\n    padding: 2px 8px; border-radius: 4px; font-size: 10px; font-weight: 700;\n    letter-spacing: .08em; margin-left: 2px;\n  }\n  .exp-v1 { background: rgba(21,101,192,0.3); border: 1px solid #1565C0; color: #42a5f5; }\n  .exp-v2 { background: rgba(198,40,40,0.3); border: 1px solid #c62828; color: #ef5350; }\n  #routeInfo { font-size: 10px; color: #42a5f5; margin-left: auto; white-space: nowrap; }\n  .leg { display: flex; align-items: center; gap: 6px; margin-top: 6px; font-size: 10px; color: #546e7a; flex-shrink: 0; }\n  .bar { flex: 1; height: 6px; border-radius: 3px; background: linear-gradient(to right, #0D47A1, #42A5F5, #FFA726, #E53935); border: 1px solid rgba(255,255,255,0.08); }\n  .route-legend { display: flex; align-items: center; gap: 14px; margin-top: 4px; font-size: 10px; color: #546e7a; flex-shrink: 0; flex-wrap: wrap; }\n  .rl-dot { width: 9px; height: 9px; border-radius: 50%; display: inline-block; vertical-align: middle; margin-right: 3px; }\n  .ax { display: flex; justify-content: space-between; font-size: 9px; color: #2a3f5f; margin-top: 2px; }\n  .tip { font-size: 9px; color: #1e3050; text-align: center; margin-top: 3px; }\n</style>\n<div class=\"wrap\">\n  <div class=\"controls\">\n    <span class=\"ctrl-label\">Capas:</span>\n    <button class=\"ctrl-btn active\" id=\"btnMesh\"  onclick=\"toggleLayer('mesh')\">Malla 3D</button>\n    <button class=\"ctrl-btn active\" id=\"btnRoute\" onclick=\"toggleLayer('route')\">Ruta RL</button>\n    <div class=\"ctrl-sep\"></div>\n    <span class=\"ctrl-label\">Ruta activa:</span>\n    <span id=\"expBadge\" class=\"exp-badge exp-v1\">V1</span>\n    <div class=\"ctrl-sep\"></div>\n    <button class=\"ctrl-btn\" id=\"btnAnimate\" onclick=\"toggleAnimate()\">&#9654; Animar</button>\n    <span id=\"routeInfo\"></span>\n  </div>\n  <canvas id=\"hcv\"></canvas>\n  <div class=\"leg\">\n    <span id=\"hmn\">-</span><div class=\"bar\"></div><span id=\"hmx\">-</span>\n    <span style=\"color:#2a3f5f;\">W (Malla)</span>\n  </div>\n  <div class=\"route-legend\">\n    <span><span class=\"rl-dot\" style=\"background:#00e676;box-shadow:0 0 5px #00e676\"></span>Inicio (W alto)</span>\n    <span><span class=\"rl-dot\" style=\"background:#ff1744;box-shadow:0 0 6px #ff1744\"></span>Fin (W mínimo)</span>\n    <span style=\"color:#ffeb3b;\">— Trayectoria RL (531 pasos)</span>\n    <span id=\"deltaW\" style=\"margin-left:auto;color:#2a3f5f;\"></span>\n  </div>\n  <div class=\"ax\"><span>var1=0</span><span>var1=762</span></div>\n  <div class=\"tip\">Arrastra para rotar · Rueda para zoom</div>\n</div>\n<script>\n(function(){\n'use strict';\n\nvar ROUTES = {\n  v1: [[0.0, 0.37555, 1.0, 22.79155], [0.00131, 0.37555, 0.99049, 22.77322], [0.00262, 0.37555, 0.98575, 22.76409], [0.00262, 0.37773, 0.99049, 22.77322], [0.00394, 0.37773, 0.98575, 22.76409], [0.00394, 0.37991, 0.98575, 22.76409], [0.00394, 0.3821, 0.99049, 22.77322], [0.00525, 0.3821, 0.98575, 22.76409], [0.00656, 0.3821, 0.97631, 22.74588], [0.00787, 0.3821, 0.97631, 22.74588], [0.00919, 0.3821, 0.96691, 22.72777], [0.0105, 0.3821, 0.96223, 22.71875], [0.0105, 0.38428, 0.96691, 22.72777], [0.01181, 0.38428, 0.96223, 22.71875], [0.01312, 0.38428, 0.95291, 22.70076], [0.01444, 0.38428, 0.95291, 22.70076], [0.01575, 0.38428, 0.94362, 22.68287], [0.01706, 0.38428, 0.939, 22.67395], [0.01706, 0.38646, 0.94362, 22.68287], [0.01837, 0.38646, 0.939, 22.67395], [0.01837, 0.38865, 0.94362, 22.68287], [0.01837, 0.39083, 0.94362, 22.68287], [0.01969, 0.39083, 0.939, 22.67395], [0.01969, 0.39301, 0.939, 22.67395], [0.01969, 0.3952, 0.94362, 22.68287], [0.021, 0.3952, 0.939, 22.67395], [0.02231, 0.3952, 0.92978, 22.65619], [0.02362, 0.3952, 0.92978, 22.65619], [0.02493, 0.3952, 0.92062, 22.63852], [0.02493, 0.39301, 0.92062, 22.63852], [0.02493, 0.39083, 0.92062, 22.63852], [0.02493, 0.38865, 0.91605, 22.62971], [0.02362, 0.38865, 0.92062, 22.63852], [0.02362, 0.38646, 0.92062, 22.63852], [0.02362, 0.38428, 0.91605, 22.62971], [0.02362, 0.3821, 0.91605, 22.62971], [0.02493, 0.3821, 0.90695, 22.61217], [0.02493, 0.37991, 0.90695, 22.61217], [0.02493, 0.37773, 0.90695, 22.61217], [0.02625, 0.37773, 0.89789, 22.59471], [0.02756, 0.37773, 0.89338, 22.58601], [0.02756, 0.37555, 0.89338, 22.58601], [0.02887, 0.37555, 0.88439, 22.56869], [0.02887, 0.37336, 0.88439, 22.56869], [0.02887, 0.37118, 0.88439, 22.56869], [0.03018, 0.37118, 0.87545, 22.55145], [0.0315, 0.37118, 0.871, 22.54286], [0.03281, 0.37118, 0.871, 22.54286], [0.03412, 0.37118, 0.86212, 22.52576], [0.03543, 0.37118, 0.86212, 22.52576], [0.03675, 0.37118, 0.8533, 22.50874], [0.03806, 0.37118, 0.8489, 22.50026], [0.03806, 0.369, 0.8489, 22.50026], [0.03937, 0.369, 0.84014, 22.48337], [0.04068, 0.369, 0.84014, 22.48337], [0.04199, 0.369, 0.83142, 22.46657], [0.04331, 0.369, 0.82708, 22.45821], [0.04331, 0.36681, 0.82708, 22.45821], [0.04462, 0.36681, 0.81844, 22.44154], [0.04593, 0.36681, 0.81844, 22.44154], [0.04724, 0.36681, 0.80984, 22.42496], [0.04856, 0.36681, 0.80984, 22.42496], [0.04856, 0.36463, 0.80555, 22.4167], [0.04856, 0.36245, 0.80555, 22.4167], [0.04987, 0.36245, 0.79702, 22.40025], [0.05118, 0.36245, 0.79702, 22.40025], [0.05249, 0.36245, 0.78853, 22.38389], [0.05381, 0.36245, 0.7843, 22.37574], [0.05381, 0.36026, 0.7843, 22.37574], [0.05512, 0.36026, 0.77589, 22.35951], [0.05643, 0.36026, 0.77589, 22.35951], [0.05774, 0.36026, 0.76751, 22.34337], [0.05906, 0.36026, 0.76334, 22.33533], [0.05906, 0.35808, 0.76334, 22.33533], [0.06037, 0.35808, 0.75504, 22.31932], [0.06168, 0.35808, 0.75504, 22.31932], [0.06299, 0.35808, 0.74678, 22.30339], [0.0643, 0.35808, 0.74678, 22.30339], [0.0643, 0.3559, 0.74266, 22.29546], [0.0643, 0.35371, 0.74266, 22.29546], [0.06562, 0.35371, 0.73447, 22.27967], [0.06693, 0.35371, 0.73447, 22.27967], [0.06824, 0.35371, 0.72632, 22.26396], [0.06955, 0.35371, 0.72227, 22.25614], [0.06955, 0.35153, 0.72227, 22.25614], [0.07087, 0.35153, 0.71419, 22.24057], [0.07218, 0.35153, 0.71419, 22.24057], [0.07349, 0.35153, 0.70616, 22.22508], [0.0748, 0.35153, 0.70216, 22.21737], [0.0748, 0.35371, 0.70616, 22.22508], [0.07612, 0.35371, 0.70216, 22.21737], [0.07612, 0.3559, 0.70216, 22.21737], [0.07612, 0.35808, 0.70616, 22.22508], [0.07743, 0.35808, 0.70216, 22.21737], [0.07743, 0.36026, 0.70216, 22.21737], [0.07743, 0.36245, 0.70616, 22.22508], [0.07874, 0.36245, 0.70216, 22.21737], [0.08005, 0.36245, 0.69419, 22.20202], [0.08136, 0.36245, 0.69419, 22.20202], [0.08268, 0.36245, 0.68627, 22.18675], [0.08399, 0.36245, 0.68233, 22.17915], [0.08399, 0.36463, 0.68627, 22.18675], [0.0853, 0.36463, 0.68233, 22.17915], [0.0853, 0.36681, 0.68233, 22.17915], [0.0853, 0.369, 0.68627, 22.18675], [0.08661, 0.369, 0.68233, 22.17915], [0.08661, 0.37118, 0.68233, 22.17915], [0.08661, 0.37336, 0.68627, 22.18675], [0.08661, 0.37555, 0.68627, 22.18675], [0.08793, 0.37555, 0.68233, 22.17915], [0.08793, 0.37773, 0.68627, 22.18675], [0.08924, 0.37773, 0.68233, 22.17915], [0.09055, 0.37773, 0.67448, 22.16402], [0.09186, 0.37773, 0.67448, 22.16402], [0.09318, 0.37773, 0.66667, 22.14897], [0.09449, 0.37773, 0.66279, 22.14148], [0.09449, 0.37991, 0.66667, 22.14897], [0.09449, 0.3821, 0.66667, 22.14897], [0.0958, 0.3821, 0.66667, 22.14897], [0.0958, 0.38428, 0.66667, 22.14897], [0.09711, 0.38428, 0.66279, 22.14148], [0.09711, 0.38646, 0.66279, 22.14148], [0.09711, 0.38865, 0.66667, 22.14897], [0.09843, 0.38865, 0.66279, 22.14148], [0.09974, 0.38865, 0.65505, 22.12656], [0.10105, 0.38865, 0.65505, 22.12656], [0.10236, 0.38865, 0.64735, 22.11173], [0.10367, 0.38865, 0.64353, 22.10435], [0.10499, 0.38865, 0.64353, 22.10435], [0.10499, 0.39083, 0.64353, 22.10435], [0.1063, 0.39083, 0.6359, 22.08965], [0.10761, 0.39083, 0.6359, 22.08965], [0.10892, 0.39083, 0.62832, 22.07504], [0.11024, 0.39083, 0.62832, 22.07504], [0.11155, 0.39083, 0.62455, 22.06777], [0.11286, 0.39083, 0.61704, 22.05329], [0.11286, 0.38865, 0.61704, 22.05329], [0.11286, 0.38646, 0.61704, 22.05329], [0.11417, 0.38646, 0.60957, 22.0389], [0.11549, 0.38646, 0.60586, 22.03173], [0.11549, 0.38428, 0.60586, 22.03173], [0.1168, 0.38428, 0.59846, 22.01747], [0.1168, 0.3821, 0.59846, 22.01747], [0.1168, 0.37991, 0.59846, 22.01747], [0.11811, 0.37991, 0.59111, 22.0033], [0.11811, 0.37773, 0.59111, 22.0033], [0.11811, 0.37555, 0.59111, 22.0033], [0.11811, 0.37336, 0.58745, 21.99625], [0.1168, 0.37336, 0.59111, 22.0033], [0.1168, 0.37118, 0.59111, 22.0033], [0.1168, 0.369, 0.58745, 21.99625], [0.1168, 0.36681, 0.58745, 21.99625], [0.11811, 0.36681, 0.58017, 21.98221], [0.11942, 0.36681, 0.58017, 21.98221], [0.12073, 0.36681, 0.57293, 21.96825], [0.12205, 0.36681, 0.56933, 21.96131], [0.12205, 0.36463, 0.56933, 21.96131], [0.12336, 0.36463, 0.56216, 21.94749], [0.12467, 0.36463, 0.56216, 21.94749], [0.12598, 0.36463, 0.55503, 21.93375], [0.12598, 0.36245, 0.55503, 21.93375], [0.12598, 0.36026, 0.55149, 21.92692], [0.12598, 0.35808, 0.55149, 21.92692], [0.12598, 0.3559, 0.55149, 21.92692], [0.1273, 0.3559, 0.54443, 21.91332], [0.12861, 0.3559, 0.54443, 21.91332], [0.12992, 0.3559, 0.53742, 21.8998], [0.13123, 0.3559, 0.53393, 21.89308], [0.13123, 0.35371, 0.53393, 21.89308], [0.13255, 0.35371, 0.52699, 21.87969], [0.13386, 0.35371, 0.52699, 21.87969], [0.13517, 0.35371, 0.52009, 21.8664], [0.13648, 0.35371, 0.51666, 21.85978], [0.13648, 0.35153, 0.51666, 21.85978], [0.1378, 0.35153, 0.50983, 21.84662], [0.13911, 0.35153, 0.50983, 21.84662], [0.14042, 0.35153, 0.50305, 21.83354], [0.14173, 0.35153, 0.49967, 21.82703], [0.14173, 0.34934, 0.49967, 21.82703], [0.14173, 0.34716, 0.49967, 21.82703], [0.14304, 0.34716, 0.49296, 21.81409], [0.14436, 0.34716, 0.49296, 21.81409], [0.14567, 0.34716, 0.48629, 21.80123], [0.14698, 0.34716, 0.48297, 21.79483], [0.14698, 0.34498, 0.48297, 21.79483], [0.14829, 0.34498, 0.47637, 21.7821], [0.14961, 0.34498, 0.47637, 21.7821], [0.15092, 0.34498, 0.46981, 21.76946], [0.15223, 0.34498, 0.46655, 21.76318], [0.15223, 0.34279, 0.46655, 21.76318], [0.15354, 0.34279, 0.46006, 21.75067], [0.15486, 0.34279, 0.46006, 21.75067], [0.15617, 0.34279, 0.45362, 21.73825], [0.15748, 0.34279, 0.45041, 21.73207], [0.15748, 0.34061, 0.45041, 21.73207], [0.15748, 0.33843, 0.45041, 21.73207], [0.15879, 0.33843, 0.44404, 21.71978], [0.1601, 0.33843, 0.44404, 21.71978], [0.16142, 0.33843, 0.43771, 21.70758], [0.16273, 0.33843, 0.43456, 21.70151], [0.16273, 0.33624, 0.43456, 21.70151], [0.16404, 0.33624, 0.4283, 21.68944], [0.16535, 0.33624, 0.4283, 21.68944], [0.16667, 0.33624, 0.42208, 21.67746], [0.16798, 0.33624, 0.41899, 21.6715], [0.16798, 0.33406, 0.41899, 21.6715], [0.16929, 0.33406, 0.41285, 21.65965], [0.16929, 0.33188, 0.41285, 21.65965], [0.16929, 0.32969, 0.41285, 21.65965], [0.1706, 0.32969, 0.40674, 21.64789], [0.17192, 0.32969, 0.40371, 21.64204], [0.17323, 0.32969, 0.40371, 21.64204], [0.17454, 0.32969, 0.39768, 21.6304], [0.17585, 0.32969, 0.39768, 21.6304], [0.17717, 0.32969, 0.39169, 21.61886], [0.17848, 0.32969, 0.38871, 21.61312], [0.17848, 0.32751, 0.38871, 21.61312], [0.17979, 0.32751, 0.38279, 21.60171], [0.1811, 0.32751, 0.38279, 21.60171], [0.18241, 0.32751, 0.37691, 21.59038], [0.18373, 0.32751, 0.37399, 21.58475], [0.18373, 0.32533, 0.37399, 21.58475], [0.18504, 0.32533, 0.36819, 21.57356], [0.18635, 0.32533, 0.36819, 21.57356], [0.18766, 0.32533, 0.36243, 21.56245], [0.18898, 0.32533, 0.36243, 21.56245], [0.18898, 0.32314, 0.35956, 21.55693], [0.18898, 0.32096, 0.35956, 21.55693], [0.19029, 0.32096, 0.35387, 21.54595], [0.1916, 0.32096, 0.35387, 21.54595], [0.19291, 0.32096, 0.34822, 21.53507], [0.19423, 0.32096, 0.34541, 21.52965], [0.19423, 0.31878, 0.34541, 21.52965], [0.19554, 0.31878, 0.33983, 21.5189], [0.19685, 0.31878, 0.33983, 21.5189], [0.19816, 0.31878, 0.3343, 21.50823], [0.19948, 0.31878, 0.33155, 21.50293], [0.19948, 0.31659, 0.33155, 21.50293], [0.20079, 0.31659, 0.32608, 21.49239], [0.2021, 0.31659, 0.32608, 21.49239], [0.20341, 0.31659, 0.32066, 21.48194], [0.20472, 0.31659, 0.32066, 21.48194], [0.20472, 0.31441, 0.31797, 21.47675], [0.20472, 0.31223, 0.31797, 21.47675], [0.20604, 0.31223, 0.31262, 21.46643], [0.20735, 0.31223, 0.31262, 21.46643], [0.20866, 0.31223, 0.30731, 21.4562], [0.20997, 0.31223, 0.30467, 21.45112], [0.20997, 0.31004, 0.30467, 21.45112], [0.21129, 0.31004, 0.29943, 21.44102], [0.2126, 0.31004, 0.29943, 21.44102], [0.21391, 0.31004, 0.29424, 21.431], [0.21522, 0.31004, 0.29166, 21.42603], [0.21522, 0.31223, 0.29424, 21.431], [0.21654, 0.31223, 0.29166, 21.42603], [0.21654, 0.31441, 0.29424, 21.431], [0.21654, 0.31659, 0.29424, 21.431], [0.21785, 0.31659, 0.29166, 21.42603], [0.21785, 0.31878, 0.29166, 21.42603], [0.21785, 0.32096, 0.29424, 21.431], [0.21916, 0.32096, 0.29166, 21.42603], [0.22047, 0.32096, 0.28654, 21.41615], [0.22178, 0.32096, 0.28654, 21.41615], [0.2231, 0.32096, 0.28146, 21.40636], [0.22441, 0.32096, 0.27893, 21.40149], [0.22572, 0.32096, 0.27893, 21.40149], [0.22703, 0.32096, 0.27392, 21.39183], [0.22703, 0.31878, 0.27392, 21.39183], [0.22835, 0.31878, 0.26895, 21.38226], [0.22966, 0.31878, 0.26649, 21.3775], [0.23097, 0.31878, 0.26649, 21.3775], [0.23228, 0.31878, 0.26159, 21.36806], [0.2336, 0.31878, 0.26159, 21.36806], [0.23491, 0.31878, 0.25674, 21.35871], [0.23622, 0.31878, 0.25433, 21.35406], [0.23622, 0.31659, 0.25433, 21.35406], [0.23753, 0.31659, 0.24954, 21.34484], [0.23885, 0.31659, 0.24954, 21.34484], [0.24016, 0.31659, 0.2448, 21.3357], [0.24147, 0.31659, 0.24245, 21.33117], [0.24147, 0.31878, 0.2448, 21.3357], [0.24147, 0.32096, 0.2448, 21.3357], [0.24278, 0.32096, 0.24245, 21.33117], [0.24278, 0.32314, 0.2448, 21.3357], [0.24409, 0.32314, 0.24245, 21.33117], [0.24409, 0.32533, 0.24245, 21.33117], [0.24541, 0.32533, 0.24245, 21.33117], [0.24672, 0.32533, 0.23778, 21.32216], [0.24672, 0.32314, 0.23778, 21.32216], [0.24803, 0.32314, 0.23316, 21.31324], [0.24934, 0.32314, 0.23086, 21.30882], [0.25066, 0.32314, 0.23086, 21.30882], [0.25066, 0.32533, 0.23086, 21.30882], [0.25066, 0.32751, 0.23086, 21.30882], [0.25197, 0.32751, 0.23086, 21.30882], [0.25328, 0.32751, 0.2263, 21.30003], [0.25328, 0.32533, 0.2263, 21.30003], [0.25459, 0.32533, 0.22179, 21.29134], [0.25591, 0.32533, 0.22179, 21.29134], [0.25722, 0.32533, 0.21955, 21.28702], [0.25853, 0.32533, 0.21511, 21.27845], [0.25984, 0.32533, 0.21511, 21.27845], [0.26115, 0.32533, 0.21071, 21.26997], [0.26247, 0.32533, 0.20853, 21.26577], [0.26247, 0.32314, 0.20853, 21.26577], [0.26378, 0.32314, 0.2042, 21.25742], [0.26509, 0.32314, 0.2042, 21.25742], [0.2664, 0.32314, 0.19991, 21.24916], [0.26772, 0.32314, 0.19991, 21.24916], [0.26772, 0.32533, 0.19991, 21.24916], [0.26903, 0.32533, 0.19779, 21.24506], [0.26903, 0.32751, 0.19779, 21.24506], [0.26903, 0.32969, 0.19991, 21.24916], [0.27034, 0.32969, 0.19779, 21.24506], [0.27034, 0.33188, 0.19779, 21.24506], [0.27165, 0.33188, 0.19779, 21.24506], [0.27297, 0.33188, 0.19357, 21.23693], [0.27297, 0.32969, 0.19357, 21.23693], [0.27428, 0.32969, 0.1894, 21.22889], [0.27559, 0.32969, 0.18733, 21.2249], [0.2769, 0.32969, 0.18733, 21.2249], [0.27822, 0.32969, 0.18323, 21.21699], [0.27953, 0.32969, 0.18323, 21.21699], [0.28084, 0.32969, 0.17917, 21.20917], [0.28215, 0.32969, 0.17716, 21.20529], [0.28215, 0.32751, 0.17716, 21.20529], [0.28346, 0.32751, 0.17317, 21.1976], [0.28478, 0.32751, 0.17317, 21.1976], [0.28609, 0.32751, 0.16922, 21.19], [0.2874, 0.32751, 0.16727, 21.18623], [0.2874, 0.32533, 0.16727, 21.18623], [0.28871, 0.32533, 0.16339, 21.17876], [0.29003, 0.32533, 0.16339, 21.17876], [0.29134, 0.32533, 0.15956, 21.17137], [0.29265, 0.32533, 0.15766, 21.16771], [0.29396, 0.32533, 0.15766, 21.16771], [0.29528, 0.32533, 0.1539, 21.16046], [0.29528, 0.32314, 0.1539, 21.16046], [0.29659, 0.32314, 0.15018, 21.1533], [0.2979, 0.32314, 0.15018, 21.1533], [0.29921, 0.32314, 0.14834, 21.14975], [0.30052, 0.32314, 0.14469, 21.14271], [0.30184, 0.32314, 0.14469, 21.14271], [0.30315, 0.32314, 0.14109, 21.13577], [0.30315, 0.32096, 0.14109, 21.13577], [0.30315, 0.31878, 0.13931, 21.13232], [0.30315, 0.31659, 0.13931, 21.13232], [0.30446, 0.31659, 0.13577, 21.12551], [0.30577, 0.31659, 0.13577, 21.12551], [0.30709, 0.31659, 0.13228, 21.11878], [0.3084, 0.31659, 0.13228, 21.11878], [0.30971, 0.31659, 0.13055, 21.11545], [0.31102, 0.31659, 0.12713, 21.10886], [0.31102, 0.31441, 0.12713, 21.10886], [0.31102, 0.31223, 0.12713, 21.10886], [0.31234, 0.31223, 0.12376, 21.10235], [0.31365, 0.31223, 0.12208, 21.09913], [0.31365, 0.31004, 0.12208, 21.09913], [0.31496, 0.31004, 0.11878, 21.09275], [0.31627, 0.31004, 0.11878, 21.09275], [0.31759, 0.31004, 0.11551, 21.08646], [0.3189, 0.31004, 0.1139, 21.08335], [0.3189, 0.30786, 0.1139, 21.08335], [0.32021, 0.30786, 0.11071, 21.07719], [0.32152, 0.30786, 0.11071, 21.07719], [0.32283, 0.30786, 0.10756, 21.07112], [0.32415, 0.30786, 0.10756, 21.07112], [0.32546, 0.30786, 0.106, 21.06812], [0.32677, 0.30786, 0.10292, 21.06218], [0.32677, 0.30568, 0.10292, 21.06218], [0.32677, 0.30349, 0.10292, 21.06218], [0.32808, 0.30349, 0.09988, 21.05633], [0.3294, 0.30349, 0.09838, 21.05343], [0.3294, 0.30131, 0.09838, 21.05343], [0.33071, 0.30131, 0.09541, 21.04771], [0.33202, 0.30131, 0.09541, 21.04771], [0.33333, 0.30131, 0.09249, 21.04208], [0.33465, 0.30131, 0.09105, 21.0393], [0.33465, 0.29913, 0.09105, 21.0393], [0.33596, 0.29913, 0.0882, 21.03379], [0.33727, 0.29913, 0.0882, 21.03379], [0.33858, 0.29913, 0.08539, 21.02838], [0.3399, 0.29913, 0.08539, 21.02838], [0.34121, 0.29913, 0.084, 21.02571], [0.34252, 0.29913, 0.08126, 21.02042], [0.34252, 0.29694, 0.08126, 21.02042], [0.34252, 0.29476, 0.08126, 21.02042], [0.34383, 0.29476, 0.07857, 21.01523], [0.34514, 0.29476, 0.07723, 21.01267], [0.34514, 0.29258, 0.07723, 21.01267], [0.34646, 0.29258, 0.07461, 21.0076], [0.34646, 0.29039, 0.07461, 21.0076], [0.34646, 0.28821, 0.07461, 21.0076], [0.34777, 0.28821, 0.07203, 21.00263], [0.34777, 0.28603, 0.07203, 21.00263], [0.34777, 0.28384, 0.07203, 21.00263], [0.34777, 0.28166, 0.07075, 21.00017], [0.34646, 0.28166, 0.07203, 21.00263], [0.34646, 0.27948, 0.07203, 21.00263], [0.34646, 0.27729, 0.07075, 21.00017], [0.34646, 0.27511, 0.07075, 21.00017], [0.34777, 0.27511, 0.06824, 20.99533], [0.34908, 0.27511, 0.06824, 20.99533], [0.35039, 0.27511, 0.06577, 20.99057], [0.35171, 0.27511, 0.06456, 20.98822], [0.35171, 0.27293, 0.06456, 20.98822], [0.35302, 0.27293, 0.06216, 20.9836], [0.35433, 0.27293, 0.06216, 20.9836], [0.35564, 0.27293, 0.0598, 20.97906], [0.35564, 0.27074, 0.0598, 20.97906], [0.35564, 0.26856, 0.05864, 20.97683], [0.35564, 0.26638, 0.05864, 20.97683], [0.35564, 0.26419, 0.05864, 20.97683], [0.35696, 0.26419, 0.05636, 20.97242], [0.35827, 0.26419, 0.05636, 20.97242], [0.35958, 0.26419, 0.05412, 20.9681], [0.36089, 0.26419, 0.05301, 20.96597], [0.36089, 0.26201, 0.05301, 20.96597], [0.3622, 0.26201, 0.05084, 20.96179], [0.36352, 0.26201, 0.05084, 20.96179], [0.36483, 0.26201, 0.04872, 20.95769], [0.36614, 0.26201, 0.04767, 20.95567], [0.36614, 0.25983, 0.04767, 20.95567], [0.36745, 0.25983, 0.04561, 20.9517], [0.36877, 0.25983, 0.04561, 20.9517], [0.37008, 0.25983, 0.0436, 20.94782], [0.37139, 0.25983, 0.04261, 20.94591], [0.37139, 0.25764, 0.04261, 20.94591], [0.37139, 0.25546, 0.04261, 20.94591], [0.3727, 0.25546, 0.04066, 20.94216], [0.37402, 0.25546, 0.04066, 20.94216], [0.37533, 0.25546, 0.03876, 20.9385], [0.37664, 0.25546, 0.03783, 20.9367], [0.37664, 0.25328, 0.03783, 20.9367], [0.37795, 0.25328, 0.036, 20.93317], [0.37927, 0.25328, 0.036, 20.93317], [0.38058, 0.25328, 0.03421, 20.92973], [0.38189, 0.25328, 0.03334, 20.92804], [0.38189, 0.25109, 0.03334, 20.92804], [0.3832, 0.25109, 0.03162, 20.92473], [0.38451, 0.25109, 0.03162, 20.92473], [0.38583, 0.25109, 0.02995, 20.92151], [0.38714, 0.25109, 0.02913, 20.91993], [0.38714, 0.24891, 0.02913, 20.91993], [0.38714, 0.24672, 0.02913, 20.91993], [0.38845, 0.24672, 0.02752, 20.91683], [0.38976, 0.24672, 0.02752, 20.91683], [0.39108, 0.24672, 0.02597, 20.91383], [0.39239, 0.24672, 0.0252, 20.91236], [0.39239, 0.24454, 0.0252, 20.91236], [0.3937, 0.24454, 0.02371, 20.90949], [0.39501, 0.24454, 0.02371, 20.90949], [0.39633, 0.24454, 0.02227, 20.9067], [0.39764, 0.24454, 0.02156, 20.90534], [0.39764, 0.24236, 0.02156, 20.90534], [0.39895, 0.24236, 0.02018, 20.90268], [0.40026, 0.24236, 0.02018, 20.90268], [0.40157, 0.24236, 0.01885, 20.90012], [0.40289, 0.24236, 0.0182, 20.89887], [0.40289, 0.24017, 0.0182, 20.89887], [0.40289, 0.23799, 0.0182, 20.89887], [0.4042, 0.23799, 0.01694, 20.89643], [0.40551, 0.23799, 0.01694, 20.89643], [0.40682, 0.23799, 0.01572, 20.89408], [0.40814, 0.23799, 0.01513, 20.89294], [0.40814, 0.23581, 0.01513, 20.89294], [0.40945, 0.23581, 0.01398, 20.89073], [0.41076, 0.23581, 0.01398, 20.89073], [0.41207, 0.23581, 0.01288, 20.8886], [0.41339, 0.23581, 0.01234, 20.88756], [0.41339, 0.23362, 0.01234, 20.88756], [0.4147, 0.23362, 0.0113, 20.88557], [0.41601, 0.23362, 0.0113, 20.88557], [0.41732, 0.23362, 0.01031, 20.88366], [0.41864, 0.23362, 0.01031, 20.88366], [0.41995, 0.23362, 0.00984, 20.88273], [0.42126, 0.23362, 0.00891, 20.88096], [0.42126, 0.23144, 0.00891, 20.88096], [0.42257, 0.23144, 0.00804, 20.87926], [0.42388, 0.23144, 0.00804, 20.87926], [0.4252, 0.23144, 0.0072, 20.87766], [0.42651, 0.23144, 0.0068, 20.87689], [0.42782, 0.23144, 0.0068, 20.87689], [0.42913, 0.23144, 0.00604, 20.87542], [0.42913, 0.22926, 0.00604, 20.87542], [0.42913, 0.22707, 0.00604, 20.87542], [0.43045, 0.22707, 0.00532, 20.87404], [0.43176, 0.22707, 0.00498, 20.87338], [0.43176, 0.22489, 0.00498, 20.87338], [0.43307, 0.22489, 0.00433, 20.87212], [0.43438, 0.22489, 0.00433, 20.87212], [0.4357, 0.22489, 0.00373, 20.87096], [0.43701, 0.22489, 0.00344, 20.87041], [0.43701, 0.22271, 0.00344, 20.87041], [0.43832, 0.22271, 0.0029, 20.86937], [0.43963, 0.22271, 0.0029, 20.86937], [0.44094, 0.22271, 0.00241, 20.86843], [0.44226, 0.22271, 0.00241, 20.86843], [0.44357, 0.22271, 0.00218, 20.86799], [0.44488, 0.22271, 0.00176, 20.86717], [0.44488, 0.22052, 0.00176, 20.86717], [0.44488, 0.21834, 0.00176, 20.86717], [0.44619, 0.21834, 0.00138, 20.86644], [0.44751, 0.21834, 0.00121, 20.86611], [0.44751, 0.21616, 0.00121, 20.86611], [0.44882, 0.21616, 0.0009, 20.86551], [0.45013, 0.21616, 0.0009, 20.86551], [0.45144, 0.21616, 0.00064, 20.86501], [0.45276, 0.21616, 0.00052, 20.86478], [0.45276, 0.21834, 0.00064, 20.86501], [0.45407, 0.21834, 0.00052, 20.86478], [0.45407, 0.22052, 0.00064, 20.86501], [0.45407, 0.22271, 0.00064, 20.86501], [0.45538, 0.22271, 0.00052, 20.86478], [0.45538, 0.22489, 0.00052, 20.86478], [0.45538, 0.22707, 0.00064, 20.86501], [0.45669, 0.22707, 0.00052, 20.86478], [0.45801, 0.22707, 0.00033, 20.86441], [0.45932, 0.22707, 0.00033, 20.86441], [0.46063, 0.22707, 0.00018, 20.86412], [0.46063, 0.22489, 0.00018, 20.86412], [0.46063, 0.22271, 0.00018, 20.86412], [0.46063, 0.22052, 0.00012, 20.86401], [0.45932, 0.22052, 0.00018, 20.86412], [0.45932, 0.21834, 0.00018, 20.86412], [0.45932, 0.21616, 0.00012, 20.86401], [0.45932, 0.21397, 0.00012, 20.86401], [0.46063, 0.21397, 4e-05, 20.86385], [0.46194, 0.21397, 4e-05, 20.86385], [0.46325, 0.21397, 0.0, 20.86378], [0.46457, 0.21397, 0.0, 20.86377]],\n  v2: [[0.0, 0.81659, 0.86767, 22.60622], [0.0, 0.81878, 0.93502, 22.76698], [0.00131, 0.81878, 0.92265, 22.73746], [0.00262, 0.81878, 0.92876, 22.75205], [0.00394, 0.81878, 0.95763, 22.82096], [0.00525, 0.81878, 1.0, 22.92208], [0.00656, 0.81878, 0.91684, 22.7236], [0.00787, 0.81878, 0.96699, 22.84329], [0.00919, 0.81878, 0.94583, 22.79279], [0.0105, 0.81878, 0.95343, 22.81093], [0.0105, 0.81659, 0.91057, 22.70863], [0.0105, 0.81441, 0.86184, 22.59231], [0.01181, 0.81441, 0.9027, 22.68983], [0.01312, 0.81441, 0.84676, 22.55631], [0.01444, 0.81441, 0.92529, 22.74376], [0.01444, 0.81223, 0.92762, 22.74933], [0.01444, 0.81004, 0.89408, 22.66927], [0.01575, 0.81004, 0.87971, 22.63497], [0.01706, 0.81004, 0.92973, 22.75436], [0.01837, 0.81004, 0.86458, 22.59884], [0.01969, 0.81004, 0.86993, 22.61161], [0.021, 0.81004, 0.86326, 22.5957], [0.021, 0.80786, 0.87652, 22.62734], [0.02231, 0.80786, 0.87085, 22.61381], [0.02362, 0.80786, 0.90482, 22.69489], [0.02362, 0.80568, 0.88792, 22.65455], [0.02493, 0.80568, 0.87779, 22.63038], [0.02625, 0.80568, 0.8035, 22.45305], [0.02756, 0.80568, 0.86854, 22.6083], [0.02887, 0.80568, 0.82222, 22.49775], [0.03018, 0.80568, 0.83055, 22.51764], [0.0315, 0.80568, 0.85269, 22.57047], [0.0315, 0.80349, 0.86763, 22.60612], [0.03281, 0.80349, 0.84445, 22.55081], [0.03412, 0.80349, 0.84558, 22.5535], [0.03543, 0.80349, 0.85396, 22.57351], [0.03543, 0.80131, 0.90635, 22.69856], [0.03543, 0.79913, 0.81594, 22.48275], [0.03675, 0.79913, 0.87762, 22.62998], [0.03806, 0.79913, 0.81758, 22.48666], [0.03937, 0.79913, 0.89078, 22.66139], [0.04068, 0.79913, 0.83156, 22.52005], [0.04199, 0.79913, 0.83876, 22.53723], [0.04199, 0.79694, 0.87538, 22.62462], [0.04331, 0.79694, 0.86047, 22.58905], [0.04331, 0.79476, 0.81458, 22.4795], [0.04462, 0.79476, 0.80211, 22.44975], [0.04462, 0.79258, 0.90592, 22.69753], [0.04593, 0.79258, 0.83384, 22.52548], [0.04724, 0.79258, 0.86335, 22.59591], [0.04856, 0.79258, 0.80842, 22.46481], [0.04856, 0.79039, 0.77394, 22.38251], [0.04987, 0.79039, 0.82229, 22.4979], [0.05118, 0.79039, 0.78473, 22.40826], [0.05249, 0.79039, 0.80868, 22.46543], [0.05381, 0.79039, 0.78435, 22.40736], [0.05512, 0.79039, 0.85681, 22.5803], [0.05643, 0.79039, 0.83584, 22.53026], [0.05774, 0.79039, 0.84083, 22.54217], [0.05774, 0.78821, 0.75746, 22.34317], [0.05906, 0.78821, 0.77601, 22.38744], [0.06037, 0.78821, 0.8165, 22.4841], [0.06168, 0.78821, 0.82347, 22.50072], [0.06168, 0.78603, 0.79622, 22.43567], [0.06299, 0.78603, 0.77059, 22.37451], [0.0643, 0.78603, 0.75896, 22.34674], [0.06562, 0.78603, 0.70953, 22.22877], [0.06562, 0.78384, 0.78679, 22.41317], [0.06693, 0.78384, 0.79829, 22.44062], [0.06824, 0.78384, 0.74842, 22.32158], [0.06955, 0.78384, 0.744, 22.31105], [0.06955, 0.78166, 0.70363, 22.21468], [0.07087, 0.78166, 0.83973, 22.53954], [0.07218, 0.78166, 0.76596, 22.36345], [0.07349, 0.78166, 0.75156, 22.32909], [0.07349, 0.77948, 0.79548, 22.43392], [0.0748, 0.77948, 0.79308, 22.42819], [0.07612, 0.77948, 0.70909, 22.22772], [0.07612, 0.77729, 0.72375, 22.2627], [0.07612, 0.77511, 0.72846, 22.27396], [0.07743, 0.77511, 0.78349, 22.4053], [0.07874, 0.77511, 0.74748, 22.31935], [0.08005, 0.77511, 0.75107, 22.32791], [0.08005, 0.77293, 0.67438, 22.14486], [0.08136, 0.77293, 0.74388, 22.31075], [0.08268, 0.77293, 0.75291, 22.3323], [0.08399, 0.77293, 0.75591, 22.33946], [0.08399, 0.77074, 0.72862, 22.27432], [0.0853, 0.77074, 0.68469, 22.16948], [0.0853, 0.76856, 0.73625, 22.29254], [0.08661, 0.76856, 0.70703, 22.2228], [0.08793, 0.76856, 0.70741, 22.22369], [0.08793, 0.76638, 0.68885, 22.17941], [0.08924, 0.76638, 0.72702, 22.2705], [0.09055, 0.76638, 0.68729, 22.17568], [0.09186, 0.76638, 0.77044, 22.37416], [0.09318, 0.76638, 0.70926, 22.22811], [0.09449, 0.76638, 0.73951, 22.30033], [0.0958, 0.76638, 0.7041, 22.2158], [0.0958, 0.76419, 0.70789, 22.22484], [0.09711, 0.76419, 0.6878, 22.1769], [0.09843, 0.76419, 0.7262, 22.26857], [0.09843, 0.76201, 0.67274, 22.14096], [0.09843, 0.75983, 0.67773, 22.15285], [0.09843, 0.75764, 0.72575, 22.26749], [0.09974, 0.75764, 0.71013, 22.23019], [0.09974, 0.75546, 0.68171, 22.16236], [0.10105, 0.75546, 0.74015, 22.30185], [0.10236, 0.75546, 0.68065, 22.15983], [0.10367, 0.75546, 0.69842, 22.20224], [0.10499, 0.75546, 0.63397, 22.04841], [0.1063, 0.75546, 0.67102, 22.13685], [0.10761, 0.75546, 0.64544, 22.07578], [0.10892, 0.75546, 0.63467, 22.05008], [0.11024, 0.75546, 0.66231, 22.11605], [0.11024, 0.75328, 0.69435, 22.19253], [0.11155, 0.75328, 0.67899, 22.15587], [0.11286, 0.75328, 0.677, 22.15112], [0.11286, 0.75109, 0.71055, 22.2312], [0.11417, 0.75109, 0.57744, 21.91348], [0.11549, 0.75109, 0.64893, 22.08411], [0.11549, 0.74891, 0.63347, 22.04723], [0.11549, 0.74672, 0.62879, 22.03605], [0.1168, 0.74672, 0.61508, 22.00332], [0.11811, 0.74672, 0.65024, 22.08725], [0.11942, 0.74672, 0.63712, 22.05593], [0.12073, 0.74672, 0.60944, 21.98986], [0.12205, 0.74672, 0.64314, 22.07029], [0.12205, 0.74454, 0.67938, 22.1568], [0.12336, 0.74454, 0.60996, 21.99111], [0.12467, 0.74454, 0.62822, 22.03469], [0.12598, 0.74454, 0.61281, 21.9979], [0.1273, 0.74454, 0.57437, 21.90616], [0.12861, 0.74454, 0.60112, 21.97], [0.12861, 0.74672, 0.62872, 22.03587], [0.12992, 0.74672, 0.61644, 22.00657], [0.12992, 0.74891, 0.65973, 22.10991], [0.12992, 0.75109, 0.64488, 22.07446], [0.13123, 0.75109, 0.66074, 22.11232], [0.13255, 0.75109, 0.65757, 22.10475], [0.13386, 0.75109, 0.67956, 22.15723], [0.13517, 0.75109, 0.63816, 22.05842], [0.13648, 0.75109, 0.67088, 22.1365], [0.13648, 0.74891, 0.57309, 21.90309], [0.1378, 0.74891, 0.66837, 22.13053], [0.1378, 0.74672, 0.62081, 22.01701], [0.13911, 0.74672, 0.56515, 21.88414], [0.14042, 0.74672, 0.64059, 22.0642], [0.14173, 0.74672, 0.62486, 22.02667], [0.14304, 0.74672, 0.63029, 22.03963], [0.14304, 0.74891, 0.60552, 21.98051], [0.14436, 0.74891, 0.64474, 22.07412], [0.14567, 0.74891, 0.65475, 22.09801], [0.14698, 0.74891, 0.63846, 22.05913], [0.14829, 0.74891, 0.6234, 22.02319], [0.14961, 0.74891, 0.57409, 21.90549], [0.14961, 0.75109, 0.59717, 21.96057], [0.15092, 0.75109, 0.60209, 21.97233], [0.15223, 0.75109, 0.64126, 22.06581], [0.15354, 0.75109, 0.66167, 22.11454], [0.15486, 0.75109, 0.68417, 22.16824], [0.15617, 0.75109, 0.65543, 22.09964], [0.15748, 0.75109, 0.67696, 22.15103], [0.15879, 0.75109, 0.63284, 22.04571], [0.1601, 0.75109, 0.60211, 21.97236], [0.16142, 0.75109, 0.63098, 22.04127], [0.16142, 0.74891, 0.57107, 21.89828], [0.16273, 0.74891, 0.58729, 21.937], [0.16273, 0.74672, 0.65524, 22.09918], [0.16404, 0.74672, 0.59257, 21.94961], [0.16535, 0.74672, 0.61528, 22.0038], [0.16667, 0.74672, 0.60915, 21.98918], [0.16798, 0.74672, 0.57347, 21.904], [0.16929, 0.74672, 0.58448, 21.93029], [0.1706, 0.74672, 0.61552, 22.00438], [0.1706, 0.74454, 0.59726, 21.9608], [0.17192, 0.74454, 0.48492, 21.69263], [0.17323, 0.74454, 0.6166, 22.00694], [0.17454, 0.74454, 0.57493, 21.90748], [0.17585, 0.74454, 0.57884, 21.91682], [0.17717, 0.74454, 0.59273, 21.94997], [0.17717, 0.74236, 0.49821, 21.72436], [0.17717, 0.74017, 0.58734, 21.93711], [0.17848, 0.74017, 0.57722, 21.91297], [0.17979, 0.74017, 0.59216, 21.94862], [0.17979, 0.73799, 0.58868, 21.94031], [0.1811, 0.73799, 0.52791, 21.79525], [0.18241, 0.73799, 0.62255, 22.02115], [0.18241, 0.73581, 0.62761, 22.03324], [0.18373, 0.73581, 0.59319, 21.95108], [0.18504, 0.73581, 0.52681, 21.79263], [0.18635, 0.73581, 0.54721, 21.84133], [0.18766, 0.73581, 0.54716, 21.84122], [0.18898, 0.73581, 0.57386, 21.90493], [0.19029, 0.73581, 0.59023, 21.94401], [0.19029, 0.73362, 0.60022, 21.96785], [0.19029, 0.73144, 0.56379, 21.8809], [0.1916, 0.73144, 0.57148, 21.89925], [0.1916, 0.72926, 0.54542, 21.83704], [0.1916, 0.72707, 0.55367, 21.85673], [0.19291, 0.72707, 0.51353, 21.76093], [0.19423, 0.72707, 0.51505, 21.76456], [0.19554, 0.72707, 0.52929, 21.79855], [0.19685, 0.72707, 0.49385, 21.71395], [0.19816, 0.72707, 0.51958, 21.77538], [0.19816, 0.72489, 0.57637, 21.91093], [0.19816, 0.72271, 0.55699, 21.86468], [0.19948, 0.72271, 0.50718, 21.74578], [0.20079, 0.72271, 0.57203, 21.90057], [0.2021, 0.72271, 0.55071, 21.84968], [0.20341, 0.72271, 0.56559, 21.88521], [0.20472, 0.72271, 0.50187, 21.73309], [0.20604, 0.72271, 0.47383, 21.66616], [0.20735, 0.72271, 0.53404, 21.8099], [0.20866, 0.72271, 0.52097, 21.77868], [0.20997, 0.72271, 0.4721, 21.66205], [0.21129, 0.72271, 0.51437, 21.76294], [0.21129, 0.72052, 0.52062, 21.77785], [0.2126, 0.72052, 0.5508, 21.8499], [0.2126, 0.71834, 0.50025, 21.72924], [0.21391, 0.71834, 0.4963, 21.71981], [0.21522, 0.71834, 0.47398, 21.66654], [0.21654, 0.71834, 0.47848, 21.67728], [0.21785, 0.71834, 0.50844, 21.74878], [0.21785, 0.72052, 0.4661, 21.64773], [0.21916, 0.72052, 0.45645, 21.62469], [0.22047, 0.72052, 0.51196, 21.75718], [0.22047, 0.71834, 0.476, 21.67135], [0.22178, 0.71834, 0.53661, 21.81602], [0.2231, 0.71834, 0.54271, 21.83059], [0.2231, 0.71616, 0.46053, 21.63443], [0.22441, 0.71616, 0.48482, 21.69241], [0.22572, 0.71616, 0.50717, 21.74576], [0.22703, 0.71616, 0.51315, 21.76004], [0.22835, 0.71616, 0.49232, 21.7103], [0.22835, 0.71397, 0.51045, 21.75358], [0.22966, 0.71397, 0.46445, 21.64379], [0.23097, 0.71397, 0.46051, 21.63439], [0.23228, 0.71397, 0.47086, 21.65909], [0.2336, 0.71397, 0.47853, 21.67738], [0.23491, 0.71397, 0.52903, 21.79794], [0.23622, 0.71397, 0.43981, 21.58497], [0.23753, 0.71397, 0.49651, 21.72032], [0.23885, 0.71397, 0.4464, 21.60069], [0.24016, 0.71397, 0.4846, 21.69188], [0.24016, 0.71179, 0.52873, 21.7972], [0.24147, 0.71179, 0.4499, 21.60905], [0.24147, 0.70961, 0.44205, 21.59031], [0.24278, 0.70961, 0.49611, 21.71937], [0.24409, 0.70961, 0.48164, 21.68483], [0.24541, 0.70961, 0.47226, 21.66242], [0.24541, 0.71179, 0.50795, 21.74762], [0.24672, 0.71179, 0.49296, 21.71185], [0.24803, 0.71179, 0.44695, 21.602], [0.24934, 0.71179, 0.46477, 21.64455], [0.25066, 0.71179, 0.48318, 21.68849], [0.25197, 0.71179, 0.47562, 21.67046], [0.25328, 0.71179, 0.50451, 21.73941], [0.25459, 0.71179, 0.50631, 21.74371], [0.25459, 0.71397, 0.54102, 21.82655], [0.25591, 0.71397, 0.51785, 21.77124], [0.25722, 0.71397, 0.50841, 21.74871], [0.25853, 0.71397, 0.49173, 21.7089], [0.25984, 0.71397, 0.4821, 21.68591], [0.25984, 0.71616, 0.43622, 21.5764], [0.25984, 0.71834, 0.52889, 21.79759], [0.25984, 0.72052, 0.52524, 21.7889], [0.26115, 0.72052, 0.44752, 21.60337], [0.26247, 0.72052, 0.40994, 21.51367], [0.26378, 0.72052, 0.51722, 21.76975], [0.26509, 0.72052, 0.45177, 21.61351], [0.2664, 0.72052, 0.52235, 21.78198], [0.26772, 0.72052, 0.46023, 21.63371], [0.26903, 0.72052, 0.49272, 21.71125], [0.26903, 0.71834, 0.55093, 21.85021], [0.27034, 0.71834, 0.53245, 21.80609], [0.27165, 0.71834, 0.53079, 21.80213], [0.27297, 0.71834, 0.45754, 21.62728], [0.27297, 0.72052, 0.50894, 21.74999], [0.27428, 0.72052, 0.46579, 21.64698], [0.27559, 0.72052, 0.41939, 21.53623], [0.2769, 0.72052, 0.52445, 21.78701], [0.27822, 0.72052, 0.46407, 21.64288], [0.27953, 0.72052, 0.51296, 21.75958], [0.28084, 0.72052, 0.48071, 21.68259], [0.28084, 0.71834, 0.4675, 21.65107], [0.28215, 0.71834, 0.47144, 21.66048], [0.28346, 0.71834, 0.4806, 21.68232], [0.28478, 0.71834, 0.43801, 21.58068], [0.28609, 0.71834, 0.4807, 21.68257], [0.2874, 0.71834, 0.45594, 21.62347], [0.2874, 0.71616, 0.45213, 21.61437], [0.2874, 0.71397, 0.4831, 21.68829], [0.2874, 0.71179, 0.39381, 21.47518], [0.28871, 0.71179, 0.43656, 21.57721], [0.28871, 0.70961, 0.46352, 21.64157], [0.28871, 0.70742, 0.43237, 21.56721], [0.28871, 0.70524, 0.4837, 21.68972], [0.29003, 0.70524, 0.46873, 21.654], [0.29134, 0.70524, 0.40782, 21.50862], [0.29265, 0.70524, 0.44453, 21.59624], [0.29396, 0.70524, 0.45276, 21.61588], [0.29528, 0.70524, 0.42024, 21.53825], [0.29659, 0.70524, 0.42669, 21.55365], [0.29659, 0.70306, 0.41469, 21.52502], [0.29659, 0.70087, 0.41371, 21.52267], [0.2979, 0.70087, 0.45522, 21.62175], [0.2979, 0.69869, 0.43992, 21.58525], [0.2979, 0.69651, 0.44646, 21.60085], [0.29921, 0.69651, 0.38008, 21.44241], [0.30052, 0.69651, 0.3868, 21.45845], [0.30184, 0.69651, 0.42133, 21.54087], [0.30315, 0.69651, 0.4121, 21.51884], [0.30315, 0.69432, 0.43435, 21.57194], [0.30446, 0.69432, 0.41214, 21.51893], [0.30577, 0.69432, 0.44431, 21.59571], [0.30577, 0.69214, 0.36566, 21.40798], [0.30577, 0.68996, 0.42799, 21.55676], [0.30577, 0.68777, 0.45752, 21.62724], [0.30577, 0.68559, 0.41181, 21.51814], [0.30709, 0.68559, 0.33773, 21.34131], [0.3084, 0.68559, 0.36573, 21.40816], [0.3084, 0.68341, 0.33317, 21.33045], [0.30971, 0.68341, 0.36546, 21.40751], [0.31102, 0.68341, 0.42095, 21.53996], [0.31234, 0.68341, 0.35921, 21.39259], [0.31365, 0.68341, 0.37228, 21.4238], [0.31496, 0.68341, 0.42554, 21.55091], [0.31627, 0.68341, 0.36887, 21.41564], [0.31759, 0.68341, 0.36489, 21.40615], [0.3189, 0.68341, 0.43276, 21.56814], [0.32021, 0.68341, 0.36693, 21.41103], [0.32021, 0.68122, 0.40016, 21.49033], [0.32152, 0.68122, 0.36554, 21.40771], [0.32152, 0.67904, 0.39298, 21.4732], [0.32283, 0.67904, 0.35266, 21.37697], [0.32415, 0.67904, 0.38595, 21.45641], [0.32546, 0.67904, 0.39933, 21.48835], [0.32677, 0.67904, 0.37979, 21.44171], [0.32808, 0.67904, 0.3496, 21.36965], [0.32808, 0.67686, 0.39329, 21.47394], [0.3294, 0.67686, 0.37507, 21.43044], [0.3294, 0.67467, 0.36183, 21.39884], [0.33071, 0.67467, 0.32546, 21.31203], [0.33202, 0.67467, 0.35672, 21.38664], [0.33333, 0.67467, 0.36441, 21.405], [0.33333, 0.67249, 0.33935, 21.34519], [0.33465, 0.67249, 0.35568, 21.38417], [0.33465, 0.67031, 0.34261, 21.35297], [0.33596, 0.67031, 0.32043, 21.30002], [0.33727, 0.67031, 0.34382, 21.35587], [0.33858, 0.67031, 0.30142, 21.25466], [0.3399, 0.67031, 0.35236, 21.37624], [0.3399, 0.66812, 0.34503, 21.35875], [0.34121, 0.66812, 0.30036, 21.25212], [0.34252, 0.66812, 0.33141, 21.32624], [0.34383, 0.66812, 0.37697, 21.43498], [0.34383, 0.66594, 0.3195, 21.29781], [0.34514, 0.66594, 0.33394, 21.33227], [0.34514, 0.66376, 0.38387, 21.45145], [0.34646, 0.66376, 0.33562, 21.33629], [0.34646, 0.66157, 0.33616, 21.33756], [0.34777, 0.66157, 0.2813, 21.20663], [0.34908, 0.66157, 0.36752, 21.41241], [0.35039, 0.66157, 0.33839, 21.34289], [0.35171, 0.66157, 0.34867, 21.36742], [0.35302, 0.66157, 0.32529, 21.31162], [0.35302, 0.65939, 0.32969, 21.32212], [0.35433, 0.65939, 0.36751, 21.41241], [0.35433, 0.65721, 0.3094, 21.27371], [0.35564, 0.65721, 0.27837, 21.19962], [0.35696, 0.65721, 0.27581, 21.19352], [0.35696, 0.65502, 0.39468, 21.47724], [0.35827, 0.65502, 0.29627, 21.24235], [0.35958, 0.65502, 0.3324, 21.3286], [0.36089, 0.65502, 0.3307, 21.32455], [0.3622, 0.65502, 0.33044, 21.32392], [0.3622, 0.65284, 0.28624, 21.21841], [0.3622, 0.65066, 0.3371, 21.33981], [0.36352, 0.65066, 0.32601, 21.31335], [0.36483, 0.65066, 0.25924, 21.15398], [0.36614, 0.65066, 0.22283, 21.06708], [0.36745, 0.65066, 0.2959, 21.24146], [0.36877, 0.65066, 0.27162, 21.18353], [0.36877, 0.64847, 0.33134, 21.32607], [0.37008, 0.64847, 0.35276, 21.37719], [0.37139, 0.64847, 0.31566, 21.28864], [0.37139, 0.64629, 0.28433, 21.21385], [0.37139, 0.6441, 0.30898, 21.27268], [0.3727, 0.6441, 0.31731, 21.29257], [0.37402, 0.6441, 0.30192, 21.25583], [0.37533, 0.6441, 0.3438, 21.3558], [0.37664, 0.6441, 0.25943, 21.15442], [0.37664, 0.64192, 0.31369, 21.28393], [0.37664, 0.63974, 0.27939, 21.20206], [0.37795, 0.63974, 0.32422, 21.30908], [0.37927, 0.63974, 0.27811, 21.19901], [0.38058, 0.63974, 0.27732, 21.19713], [0.38058, 0.63755, 0.26658, 21.17148], [0.38189, 0.63755, 0.3369, 21.33935], [0.3832, 0.63755, 0.30664, 21.26711], [0.38451, 0.63755, 0.32836, 21.31896], [0.38583, 0.63755, 0.34567, 21.36028], [0.38583, 0.63537, 0.27961, 21.20259], [0.38714, 0.63537, 0.27831, 21.19948], [0.38845, 0.63537, 0.31312, 21.28257], [0.38845, 0.63319, 0.30254, 21.25732], [0.38845, 0.631, 0.3048, 21.26272], [0.38845, 0.62882, 0.25021, 21.13243], [0.38845, 0.62664, 0.26827, 21.17554], [0.38976, 0.62664, 0.28432, 21.21383], [0.38976, 0.62445, 0.27425, 21.1898], [0.39108, 0.62445, 0.24104, 21.11052], [0.39239, 0.62445, 0.2594, 21.15435], [0.3937, 0.62445, 0.28176, 21.20772], [0.39501, 0.62445, 0.23749, 21.10205], [0.39633, 0.62445, 0.29992, 21.25108], [0.39633, 0.62664, 0.24153, 21.1117], [0.39764, 0.62664, 0.22717, 21.07743], [0.39895, 0.62664, 0.29335, 21.23539], [0.40026, 0.62664, 0.23962, 21.10713], [0.40157, 0.62664, 0.23989, 21.10778], [0.40157, 0.62882, 0.26064, 21.15731], [0.40289, 0.62882, 0.30484, 21.26281], [0.4042, 0.62882, 0.22417, 21.07027], [0.40551, 0.62882, 0.25349, 21.14026], [0.40682, 0.62882, 0.29933, 21.24967], [0.40814, 0.62882, 0.26429, 21.16603], [0.40814, 0.631, 0.28236, 21.20915], [0.40945, 0.631, 0.22072, 21.06202], [0.41076, 0.631, 0.27491, 21.19138], [0.41207, 0.631, 0.25961, 21.15486], [0.41339, 0.631, 0.26068, 21.15741], [0.4147, 0.631, 0.25906, 21.15355], [0.4147, 0.62882, 0.18791, 20.98372], [0.41601, 0.62882, 0.29649, 21.24289], [0.41732, 0.62882, 0.29894, 21.24873], [0.41732, 0.62664, 0.28726, 21.22085], [0.41864, 0.62664, 0.22352, 21.06872], [0.41995, 0.62664, 0.2614, 21.15912], [0.41995, 0.62445, 0.23444, 21.09479], [0.42126, 0.62445, 0.24295, 21.11509], [0.42257, 0.62445, 0.27508, 21.19177], [0.42257, 0.62227, 0.25822, 21.15153], [0.42388, 0.62227, 0.23995, 21.10793], [0.4252, 0.62227, 0.24311, 21.11547], [0.42651, 0.62227, 0.30298, 21.25838], [0.42782, 0.62227, 0.17672, 20.95702], [0.42782, 0.62009, 0.21209, 21.04144], [0.42913, 0.62009, 0.24307, 21.11538], [0.43045, 0.62009, 0.30547, 21.26431], [0.43045, 0.6179, 0.27875, 21.20055], [0.43045, 0.61572, 0.25746, 21.14973], [0.43176, 0.61572, 0.23199, 21.08893], [0.43307, 0.61572, 0.26792, 21.17469], [0.43307, 0.61354, 0.27673, 21.19572], [0.43438, 0.61354, 0.31621, 21.28995], [0.4357, 0.61354, 0.18126, 20.96784], [0.43701, 0.61354, 0.1591, 20.91495], [0.43832, 0.61354, 0.24526, 21.12061], [0.43963, 0.61354, 0.26616, 21.17048], [0.44094, 0.61354, 0.21321, 21.0441], [0.44226, 0.61354, 0.2796, 21.20257], [0.44226, 0.61572, 0.21755, 21.05447], [0.44357, 0.61572, 0.26501, 21.16775], [0.44488, 0.61572, 0.28627, 21.21849], [0.44619, 0.61572, 0.23715, 21.10126], [0.44751, 0.61572, 0.21174, 21.04059], [0.44882, 0.61572, 0.24555, 21.1213], [0.45013, 0.61572, 0.27283, 21.18641], [0.45144, 0.61572, 0.23654, 21.09979], [0.45144, 0.61354, 0.22437, 21.07073], [0.45276, 0.61354, 0.20968, 21.03568], [0.45407, 0.61354, 0.19432, 20.999], [0.45538, 0.61354, 0.21855, 21.05684], [0.45538, 0.61135, 0.20753, 21.03054], [0.45538, 0.60917, 0.24751, 21.12598], [0.45538, 0.60699, 0.26284, 21.16257], [0.45538, 0.6048, 0.16356, 20.9256], [0.45669, 0.6048, 0.27965, 21.2027], [0.45801, 0.6048, 0.25053, 21.13319], [0.45801, 0.60262, 0.23152, 21.08781], [0.45932, 0.60262, 0.20814, 21.03199], [0.46063, 0.60262, 0.221, 21.06269], [0.46194, 0.60262, 0.20845, 21.03274], [0.46194, 0.60044, 0.16052, 20.91835], [0.46194, 0.59825, 0.23485, 21.09576], [0.46194, 0.59607, 0.18818, 20.98436], [0.46325, 0.59607, 0.1811, 20.96747], [0.46457, 0.59607, 0.12335, 20.82962], [0.46457, 0.59389, 0.2295, 21.08299], [0.46457, 0.5917, 0.2414, 21.11138], [0.46588, 0.5917, 0.18333, 20.97277], [0.46719, 0.5917, 0.174, 20.95052], [0.4685, 0.5917, 0.16742, 20.9348], [0.4685, 0.58952, 0.19937, 21.01107], [0.46982, 0.58952, 0.18512, 20.97706], [0.46982, 0.58734, 0.21456, 21.04732], [0.47113, 0.58734, 0.15115, 20.89597], [0.47113, 0.58515, 0.20647, 21.02803], [0.47113, 0.58297, 0.13629, 20.86051], [0.47113, 0.58079, 0.18586, 20.97883], [0.47244, 0.58079, 0.22236, 21.06593], [0.47244, 0.5786, 0.20609, 21.02711], [0.47375, 0.5786, 0.21576, 21.05018], [0.47375, 0.57642, 0.21845, 21.05661], [0.47375, 0.57424, 0.19227, 20.99413], [0.47375, 0.57205, 0.18731, 20.98229], [0.47375, 0.56987, 0.13625, 20.8604], [0.47507, 0.56987, 0.18042, 20.96585], [0.47638, 0.56987, 0.15505, 20.90528], [0.47769, 0.56987, 0.21352, 21.04484], [0.47769, 0.56769, 0.19863, 21.0093], [0.47769, 0.5655, 0.14254, 20.87541], [0.47769, 0.56332, 0.22242, 21.06608], [0.47769, 0.56114, 0.13597, 20.85975], [0.479, 0.56114, 0.23599, 21.09848], [0.48031, 0.56114, 0.09913, 20.7718], [0.48163, 0.56114, 0.19749, 21.00657], [0.48294, 0.56114, 0.18679, 20.98104], [0.48425, 0.56114, 0.20905, 21.03417], [0.48556, 0.56114, 0.216, 21.05076], [0.48556, 0.55895, 0.18181, 20.96915], [0.48556, 0.55677, 0.22027, 21.06095], [0.48688, 0.55677, 0.13021, 20.84598], [0.48819, 0.55677, 0.20864, 21.03321], [0.4895, 0.55677, 0.14503, 20.88136], [0.49081, 0.55677, 0.15297, 20.90032], [0.49081, 0.55459, 0.15604, 20.90765], [0.49081, 0.5524, 0.18558, 20.97815], [0.49081, 0.55022, 0.19075, 20.9905], [0.49213, 0.55022, 0.14171, 20.87344], [0.49213, 0.54803, 0.16566, 20.93061], [0.49344, 0.54803, 0.18173, 20.96896], [0.49344, 0.54585, 0.19934, 21.011], [0.49475, 0.54585, 0.14666, 20.88524], [0.49475, 0.54367, 0.12105, 20.82414], [0.49475, 0.54148, 0.09348, 20.75832], [0.49606, 0.54148, 0.14513, 20.88161], [0.49606, 0.5393, 0.11386, 20.80696], [0.49738, 0.5393, 0.17695, 20.95756], [0.49869, 0.5393, 0.13553, 20.8587], [0.49869, 0.53712, 0.17017, 20.94137], [0.5, 0.53712, 0.16983, 20.94055], [0.50131, 0.53712, 0.15961, 20.91617], [0.50131, 0.53493, 0.19921, 21.01068], [0.50262, 0.53493, 0.21504, 21.04847], [0.50394, 0.53493, 0.1595, 20.91591], [0.50394, 0.53275, 0.18565, 20.97832], [0.50525, 0.53275, 0.17645, 20.95637], [0.50656, 0.53275, 0.16582, 20.93098], [0.50656, 0.53057, 0.1692, 20.93905], [0.50787, 0.53057, 0.12753, 20.83958], [0.50919, 0.53057, 0.1548, 20.90469], [0.50919, 0.52838, 0.21202, 21.04126], [0.5105, 0.52838, 0.17291, 20.94792], [0.5105, 0.5262, 0.17024, 20.94153], [0.51181, 0.5262, 0.18052, 20.96608], [0.51312, 0.5262, 0.15264, 20.89954], [0.51444, 0.5262, 0.15127, 20.89626], [0.51575, 0.5262, 0.18702, 20.9816], [0.51706, 0.5262, 0.11607, 20.81224], [0.51837, 0.5262, 0.14439, 20.87984], [0.51837, 0.52838, 0.15355, 20.90171], [0.51969, 0.52838, 0.15642, 20.90856], [0.521, 0.52838, 0.17556, 20.95424], [0.52231, 0.52838, 0.16108, 20.91968], [0.52362, 0.52838, 0.17246, 20.94683], [0.52362, 0.5262, 0.10099, 20.77625], [0.52493, 0.5262, 0.16587, 20.93111], [0.52493, 0.52402, 0.15059, 20.89463], [0.52493, 0.52183, 0.15555, 20.90648], [0.52493, 0.51965, 0.14195, 20.874], [0.52625, 0.51965, 0.18273, 20.97134], [0.52756, 0.51965, 0.16068, 20.91872], [0.52756, 0.52183, 0.12485, 20.83319], [0.52887, 0.52183, 0.18671, 20.98084], [0.53018, 0.52183, 0.17996, 20.96474], [0.5315, 0.52183, 0.17857, 20.96141], [0.53281, 0.52183, 0.12866, 20.84229], [0.53412, 0.52183, 0.15795, 20.91219], [0.53543, 0.52183, 0.16603, 20.9315], [0.53543, 0.51965, 0.18969, 20.98797], [0.53543, 0.51747, 0.19571, 21.00234], [0.53675, 0.51747, 0.16001, 20.91712], [0.53675, 0.51528, 0.10934, 20.79618], [0.53806, 0.51528, 0.11978, 20.82109], [0.53937, 0.51528, 0.11504, 20.80979], [0.54068, 0.51528, 0.13372, 20.85438], [0.54199, 0.51528, 0.13836, 20.86544], [0.54331, 0.51528, 0.10125, 20.77687], [0.54331, 0.5131, 0.12212, 20.82669], [0.54462, 0.5131, 0.10929, 20.79606], [0.54593, 0.5131, 0.07213, 20.70736], [0.54593, 0.51092, 0.16449, 20.92781], [0.54593, 0.50873, 0.11671, 20.81376], [0.54593, 0.50655, 0.17872, 20.96178], [0.54593, 0.50437, 0.18076, 20.96665], [0.54593, 0.50218, 0.11042, 20.79876], [0.54724, 0.50218, 0.11, 20.79776], [0.54856, 0.50218, 0.12642, 20.83695], [0.54987, 0.50218, 0.14173, 20.8735], [0.55118, 0.50218, 0.10214, 20.77899], [0.55118, 0.5, 0.17263, 20.94725], [0.55118, 0.49782, 0.16356, 20.92559], [0.55249, 0.49782, 0.18189, 20.96934], [0.55381, 0.49782, 0.10858, 20.79436], [0.55512, 0.49782, 0.12828, 20.84138], [0.55512, 0.49563, 0.15259, 20.8994], [0.55512, 0.49345, 0.12728, 20.839], [0.55512, 0.49127, 0.163, 20.92426], [0.55512, 0.48908, 0.16069, 20.91876], [0.55512, 0.4869, 0.14343, 20.87756], [0.55512, 0.48472, 0.18014, 20.96516], [0.55512, 0.48253, 0.14687, 20.88575], [0.55512, 0.48035, 0.08245, 20.73199], [0.55512, 0.47817, 0.1259, 20.83571], [0.55643, 0.47817, 0.09267, 20.75639], [0.55643, 0.47598, 0.10016, 20.77427], [0.55643, 0.4738, 0.05518, 20.66691], [0.55774, 0.4738, 0.0941, 20.75981], [0.55774, 0.47162, 0.17436, 20.95138], [0.55774, 0.46943, 0.11347, 20.80605], [0.55906, 0.46943, 0.11856, 20.81818], [0.56037, 0.46943, 0.15484, 20.90478], [0.56037, 0.46725, 0.06009, 20.67862], [0.56168, 0.46725, 0.13314, 20.85299], [0.56168, 0.46507, 0.12938, 20.84401], [0.56168, 0.46288, 0.21008, 21.03663], [0.56299, 0.46288, 0.17205, 20.94586], [0.56299, 0.4607, 0.13058, 20.84688], [0.56299, 0.45852, 0.15331, 20.90114], [0.5643, 0.45852, 0.11013, 20.79805], [0.56562, 0.45852, 0.09699, 20.7667], [0.56562, 0.45633, 0.11249, 20.8037], [0.56693, 0.45633, 0.03983, 20.63027], [0.56824, 0.45633, 0.13698, 20.86215], [0.56824, 0.45415, 0.17095, 20.94323], [0.56955, 0.45415, 0.07896, 20.72365], [0.57087, 0.45415, 0.15782, 20.9119], [0.57218, 0.45415, 0.14595, 20.88357], [0.57218, 0.45197, 0.12801, 20.84074], [0.57218, 0.44978, 0.10776, 20.79241], [0.57349, 0.44978, 0.07123, 20.7052], [0.5748, 0.44978, 0.0901, 20.75026], [0.57612, 0.44978, 0.11782, 20.81641], [0.57743, 0.44978, 0.10413, 20.78375], [0.57874, 0.44978, 0.15169, 20.89727], [0.58005, 0.44978, 0.15076, 20.89504], [0.58005, 0.45197, 0.08322, 20.73383], [0.58136, 0.45197, 0.12812, 20.841], [0.58268, 0.45197, 0.06257, 20.68454], [0.58399, 0.45197, 0.12754, 20.83962], [0.5853, 0.45197, 0.16746, 20.93491], [0.58661, 0.45197, 0.10364, 20.78256], [0.58661, 0.45415, 0.17503, 20.95298], [0.58793, 0.45415, 0.11412, 20.80758], [0.58924, 0.45415, 0.14862, 20.88992], [0.59055, 0.45415, 0.18964, 20.98784], [0.59186, 0.45415, 0.12958, 20.84448], [0.59186, 0.45197, 0.14872, 20.89018], [0.59318, 0.45197, 0.14688, 20.88578], [0.59449, 0.45197, 0.15849, 20.91349], [0.5958, 0.45197, 0.10403, 20.7835], [0.5958, 0.45415, 0.0, 20.5352]]\n};\nvar DW = { v1: 1.92778, v2: 2.38689 };\n\nvar currentSource = 'v1';  // updated when msg arrives\n\nfunction loadScript(src, cb){\n  var s=document.createElement('script');s.src=src;s.onload=cb;\n  s.onerror=function(){console.error('Error:',src);};document.head.appendChild(s);\n}\nvar READY=false, PENDING=null;\nloadScript('https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js', function(){\n  READY=true; init();\n  if(PENDING) applyData(PENDING);\n});\n\nvar renderer, scene, camera, pointsMesh, routeLine, startMarker, endMarker, animLineMesh;\nvar spherical={theta:0.7, phi:1.0, r:1.2};\nvar isDragging=false, prevMouse={x:0,y:0};\nvar showMesh=true, showRoute=true;\nvar animating=false, animStep=0, animId=null;\n\nfunction init(){\n  var canvas=document.getElementById('hcv'); if(!canvas) return;\n  var W=canvas.offsetWidth||500, H=canvas.offsetHeight||300;\n  renderer=new THREE.WebGLRenderer({canvas:canvas,antialias:true});\n  renderer.setSize(W,H); renderer.setPixelRatio(window.devicePixelRatio||1);\n  renderer.setClearColor(0x000000,1);\n  scene=new THREE.Scene();\n  camera=new THREE.PerspectiveCamera(45,W/H,0.01,100);\n  updateCamera();\n  scene.add(new THREE.AmbientLight(0xffffff,1.0));\n  canvas.addEventListener('mousedown',function(e){isDragging=true;prevMouse={x:e.clientX,y:e.clientY};});\n  window.addEventListener('mouseup',function(){isDragging=false;});\n  window.addEventListener('mousemove',function(e){\n    if(!isDragging) return;\n    spherical.theta-=(e.clientX-prevMouse.x)*0.008;\n    spherical.phi=Math.max(0.15,Math.min(Math.PI-0.15,spherical.phi+(e.clientY-prevMouse.y)*0.008));\n    prevMouse={x:e.clientX,y:e.clientY}; updateCamera();\n  });\n  canvas.addEventListener('wheel',function(e){\n    spherical.r=Math.max(0.3,Math.min(5.0,spherical.r+e.deltaY*0.002));\n    updateCamera(); e.preventDefault();\n  },{passive:false});\n  try{new ResizeObserver(function(){\n    var c=document.getElementById('hcv'); if(!c||!renderer) return;\n    var nW=c.offsetWidth,nH=c.offsetHeight;\n    if(nW>0&&nH>0){renderer.setSize(nW,nH);camera.aspect=nW/nH;camera.updateProjectionMatrix();}\n  }).observe(canvas);}catch(e){}\n  drawRoute(currentSource);\n  animate();\n}\n\nfunction updateCamera(){\n  if(!camera) return;\n  camera.position.x=spherical.r*Math.sin(spherical.phi)*Math.sin(spherical.theta);\n  camera.position.y=spherical.r*Math.cos(spherical.phi);\n  camera.position.z=spherical.r*Math.sin(spherical.phi)*Math.cos(spherical.theta);\n  camera.lookAt(0,0,0);\n}\nfunction animate(){\n  requestAnimationFrame(animate);\n  if(renderer&&scene&&camera) renderer.render(scene,camera);\n}\n\nfunction hcol(t){\n  var s=[[0,[13,71,161]],[.25,[25,118,210]],[.5,[66,165,245]],[.75,[255,167,38]],[1,[229,57,53]]];\n  for(var i=1;i<s.length;i++) if(t<=s[i][0]){\n    var lo=s[i-1],hi=s[i],f=(t-lo[0])/(hi[0]-lo[0]);\n    return new THREE.Color(\n      (lo[1][0]+f*(hi[1][0]-lo[1][0]))/255,\n      (lo[1][1]+f*(hi[1][1]-lo[1][1]))/255,\n      (lo[1][2]+f*(hi[1][2]-lo[1][2]))/255);\n  }\n  return new THREE.Color(0.9,0.22,0.21);\n}\n\nfunction applyData(d){\n  if(pointsMesh){scene.remove(pointsMesh);pointsMesh.geometry.dispose();pointsMesh.material.dispose();pointsMesh=null;}\n  var pts=d.pts;\n  if(!pts||!pts.length) return;\n  var pos=new Float32Array(pts.length*3), cols=new Float32Array(pts.length*3);\n  for(var i=0;i<pts.length;i++){\n    pos[i*3]=pts[i].x-0.5; pos[i*3+1]=(pts[i].n-0.5)*0.5; pos[i*3+2]=pts[i].y-0.5;\n    var c=hcol(pts[i].n);\n    cols[i*3]=c.r; cols[i*3+1]=c.g; cols[i*3+2]=c.b;\n  }\n  var geo=new THREE.BufferGeometry();\n  geo.setAttribute('position',new THREE.BufferAttribute(pos,3));\n  geo.setAttribute('color',new THREE.BufferAttribute(cols,3));\n  var mat=new THREE.PointsMaterial({size:0.014,vertexColors:true,sizeAttenuation:true});\n  pointsMesh=new THREE.Points(geo,mat);\n  pointsMesh.visible=showMesh;\n  scene.add(pointsMesh);\n  var mn=document.getElementById('hmn'); if(mn) mn.textContent=(d.minW||'-')+' W';\n  var mx=document.getElementById('hmx'); if(mx) mx.textContent=(d.maxW||'-')+' W';\n}\n\nfunction routePos(pt){\n  return new THREE.Vector3(pt[0]-0.5, (pt[2]-0.5)*0.5, pt[1]-0.5);\n}\n\nfunction clearRouteObjects(){\n  if(routeLine){scene.remove(routeLine);routeLine.geometry.dispose();routeLine.material.dispose();routeLine=null;}\n  if(startMarker){scene.remove(startMarker);startMarker.geometry.dispose();startMarker.material.dispose();startMarker=null;}\n  if(endMarker){scene.remove(endMarker);endMarker.geometry.dispose();endMarker.material.dispose();endMarker=null;}\n  if(animLineMesh){scene.remove(animLineMesh);animLineMesh.geometry.dispose();animLineMesh.material.dispose();animLineMesh=null;}\n}\n\nfunction routeLineColor(i, total){\n  var t=i/(total-1);\n  var r,g,b;\n  if(t<0.5){r=t*2; g=0.9+t*0.04; b=0.46-t*0.44;}\n  else{var t2=(t-0.5)*2; r=1; g=0.92-t2*0.92; b=0.24-t2*0.24;}\n  return [r,g,b];\n}\n\nfunction drawRoute(src){\n  if(!scene||!THREE) return;\n  clearRouteObjects();\n  var pts=ROUTES[src];\n  var isV2 = (src==='v2');\n\n  var positions=new Float32Array(pts.length*3);\n  var colors=new Float32Array(pts.length*3);\n  for(var i=0;i<pts.length;i++){\n    var p=routePos(pts[i]);\n    positions[i*3]=p.x; positions[i*3+1]=p.y; positions[i*3+2]=p.z;\n    var c=routeLineColor(i,pts.length);\n    colors[i*3]=c[0]; colors[i*3+1]=c[1]; colors[i*3+2]=c[2];\n  }\n  var geo=new THREE.BufferGeometry();\n  geo.setAttribute('position',new THREE.BufferAttribute(positions,3));\n  geo.setAttribute('color',new THREE.BufferAttribute(colors,3));\n  routeLine=new THREE.Line(geo,new THREE.LineBasicMaterial({vertexColors:true,linewidth:2}));\n  routeLine.visible=showRoute;\n  scene.add(routeLine);\n\n  // Start sphere\n  var sgeo=new THREE.SphereGeometry(0.018,8,8);\n  startMarker=new THREE.Mesh(sgeo,new THREE.MeshBasicMaterial({color:0x00e676}));\n  var sp=routePos(pts[0]);\n  startMarker.position.set(sp.x,sp.y,sp.z);\n  startMarker.visible=showRoute;\n  scene.add(startMarker);\n\n  // End sphere\n  var egeo=new THREE.SphereGeometry(0.022,8,8);\n  var endColor = isV2 ? 0xff6b6b : 0xff1744;\n  endMarker=new THREE.Mesh(egeo,new THREE.MeshBasicMaterial({color:endColor}));\n  var ep=routePos(pts[pts.length-1]);\n  endMarker.position.set(ep.x,ep.y,ep.z);\n  endMarker.visible=showRoute;\n  scene.add(endMarker);\n\n  // Update badge and delta\n  var badge=document.getElementById('expBadge');\n  if(badge){\n    badge.textContent=src.toUpperCase();\n    badge.className='exp-badge '+(isV2?'exp-v2':'exp-v1');\n  }\n  var dw=document.getElementById('deltaW');\n  if(dw) dw.textContent='Δw = '+DW[src].toFixed(5)+' W';\n  updateRouteInfo(src, pts.length);\n}\n\nfunction updateRouteInfo(src, step){\n  var el=document.getElementById('routeInfo'); if(!el) return;\n  var pts=ROUTES[src];\n  if(!pts) return;\n  var total=pts.length;\n  if(step>=total){\n    el.textContent='Óptimo: '+pts[total-1][3].toFixed(5)+' W';\n    el.style.color=src==='v2'?'#ef5350':'#42a5f5';\n  } else {\n    el.textContent='Paso '+(step-1)+' | W='+pts[Math.min(step-1,total-1)][3].toFixed(5);\n    el.style.color=src==='v2'?'#ef5350':'#42a5f5';\n  }\n}\n\nwindow.toggleLayer=function(layer){\n  if(layer==='mesh'){\n    showMesh=!showMesh;\n    if(pointsMesh) pointsMesh.visible=showMesh;\n    var b=document.getElementById('btnMesh');\n    if(b) b.classList.toggle('active',showMesh);\n  } else {\n    showRoute=!showRoute;\n    if(routeLine) routeLine.visible=showRoute;\n    if(startMarker) startMarker.visible=showRoute;\n    if(endMarker) endMarker.visible=showRoute;\n    if(animLineMesh) animLineMesh.visible=showRoute;\n    var b=document.getElementById('btnRoute');\n    if(b) b.classList.toggle('active',showRoute);\n  }\n};\n\nwindow.toggleAnimate=function(){\n  if(animating){\n    animating=false; if(animId) clearTimeout(animId);\n    document.getElementById('btnAnimate').textContent='\\u25B6 Animar';\n    drawRoute(currentSource); return;\n  }\n  clearRouteObjects();\n  animating=true; animStep=1;\n  document.getElementById('btnAnimate').textContent='\\u25A0 Parar';\n  // Start dot\n  var pts=ROUTES[currentSource];\n  var sgeo=new THREE.SphereGeometry(0.018,8,8);\n  startMarker=new THREE.Mesh(sgeo,new THREE.MeshBasicMaterial({color:0x00e676}));\n  var sp=routePos(pts[0]); startMarker.position.set(sp.x,sp.y,sp.z);\n  scene.add(startMarker);\n  function step(){\n    if(!animating) return;\n    if(animLineMesh){scene.remove(animLineMesh);animLineMesh.geometry.dispose();animLineMesh.material.dispose();animLineMesh=null;}\n    var sub=pts.slice(0,animStep+1);\n    var pos=new Float32Array(sub.length*3), cols=new Float32Array(sub.length*3);\n    for(var i=0;i<sub.length;i++){\n      var p=routePos(sub[i]); pos[i*3]=p.x;pos[i*3+1]=p.y;pos[i*3+2]=p.z;\n      var c=routeLineColor(i,pts.length);\n      cols[i*3]=c[0];cols[i*3+1]=c[1];cols[i*3+2]=c[2];\n    }\n    var geo=new THREE.BufferGeometry();\n    geo.setAttribute('position',new THREE.BufferAttribute(pos,3));\n    geo.setAttribute('color',new THREE.BufferAttribute(cols,3));\n    animLineMesh=new THREE.Line(geo,new THREE.LineBasicMaterial({vertexColors:true,linewidth:2}));\n    scene.add(animLineMesh);\n    updateRouteInfo(currentSource, animStep);\n    animStep+=3;\n    if(animStep>=pts.length){\n      animating=false;\n      document.getElementById('btnAnimate').textContent='\\u25B6 Animar';\n      drawRoute(currentSource); return;\n    }\n    animId=setTimeout(step,16);\n  }\n  step();\n};\n\nscope.$watch('msg', function(msg){\n  if(!msg||!msg.payload) return;\n  try{\n    var d=typeof msg.payload==='string'?JSON.parse(msg.payload):msg.payload;\n    if(d.type!=='heat') return;\n    // Update source from message\n    var src = d.source || 'v1';\n    var sourceChanged = (src !== currentSource);\n    currentSource = src;\n    if(!READY){ PENDING=d; return; }\n    applyData(d);\n    // If source changed or route not drawn yet, redraw route for new experiment\n    if(sourceChanged || !routeLine){\n      if(animating){ animating=false; if(animId) clearTimeout(animId); document.getElementById('btnAnimate').textContent='\\u25B6 Animar'; }\n      drawRoute(currentSource);\n    }\n  }catch(e){}\n});\n}());\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 940,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "6b27d871aacc7416",
        "type": "inject",
        "z": "827583e3690d12a9",
        "name": "Boot V1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "e2f9e0d15cd3aec0"
            ]
        ]
    },
    {
        "id": "e2f9e0d15cd3aec0",
        "type": "exec",
        "z": "827583e3690d12a9",
        "command": "cat \"/data/Datos_v1.csv\"",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "0",
        "winHide": true,
        "oldrc": false,
        "name": "boot cat v1",
        "x": 360,
        "y": 80,
        "wires": [
            [
                "6d264da5f1e0d792"
            ],
            [],
            []
        ]
    },
    {
        "id": "6d264da5f1e0d792",
        "type": "function",
        "z": "827583e3690d12a9",
        "name": "Store V1",
        "func": "var lines=msg.payload.split('\\n').filter(function(l){return l.trim()!==''});\nvar ws=[];\nfor(var i=1;i<lines.length;i++){\n  var c=lines[i].split(',');if(c.length<4)continue;\n  var w=parseFloat(c[3]);if(!isNaN(w))ws.push(w);\n}\nglobal.set('WS_V1',ws);\nflow.set('IDX_V1',0);\nnode.status({fill:'green',shape:'dot',text:'V1: '+ws.length+' pts'});\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b229ea4e3db49406",
        "type": "inject",
        "z": "827583e3690d12a9",
        "name": "Boot V2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 2,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "d0d06509481a4a84"
            ]
        ]
    },
    {
        "id": "d0d06509481a4a84",
        "type": "exec",
        "z": "827583e3690d12a9",
        "command": "cat \"/data/Datos_v2.csv\"",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "0",
        "winHide": true,
        "oldrc": false,
        "name": "boot cat v2",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "d61fbea98c56117a"
            ],
            [],
            []
        ]
    },
    {
        "id": "d61fbea98c56117a",
        "type": "function",
        "z": "827583e3690d12a9",
        "name": "Store V2",
        "func": "var lines=msg.payload.split('\\n').filter(function(l){return l.trim()!==''});\nvar ws=[];\nfor(var i=1;i<lines.length;i++){\n  var c=lines[i].split(',');if(c.length<4)continue;\n  var w=parseFloat(c[3]);if(!isNaN(w))ws.push(w);\n}\nglobal.set('WS_V2',ws);\nflow.set('IDX_V2',0);\nnode.status({fill:'green',shape:'dot',text:'V2: '+ws.length+' pts'});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "25d8d24f3c72e2be",
        "type": "inject",
        "z": "827583e3690d12a9",
        "name": "Tick V1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "4d85dbde3acceae8"
            ]
        ]
    },
    {
        "id": "4d85dbde3acceae8",
        "type": "function",
        "z": "827583e3690d12a9",
        "name": "Read V1",
        "func": "var ws=global.get('WS_V1')||[];\nif(!ws.length)return null;\nvar i=flow.get('IDX_V1')||0;\nif(i>=ws.length)i=0;\nflow.set('IDX_V1',i+1);\nmsg.payload=JSON.stringify({type:'tick1',w:parseFloat(ws[i].toFixed(5))});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "d094a2a61315cdc6"
            ]
        ]
    },
    {
        "id": "418d4894f28c5128",
        "type": "inject",
        "z": "827583e3690d12a9",
        "name": "Tick V2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "43379a73b07148b9"
            ]
        ]
    },
    {
        "id": "43379a73b07148b9",
        "type": "function",
        "z": "827583e3690d12a9",
        "name": "Read V2",
        "func": "var ws=global.get('WS_V2')||[];\nif(!ws.length)return null;\nvar i=flow.get('IDX_V2')||0;\nif(i>=ws.length)i=0;\nflow.set('IDX_V2',i+1);\nmsg.payload=JSON.stringify({type:'tick2',w:parseFloat(ws[i].toFixed(5))});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 320,
        "wires": [
            [
                "9cfc8e453cd009df"
            ]
        ]
    },
    {
        "id": "0403126dab35ac86",
        "type": "function",
        "z": "827583e3690d12a9",
        "name": "Router selección",
        "func": "var src=msg.payload;\nif(src==='v1')return[msg,null];\nif(src==='v2')return[null,msg];\nreturn null;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 505,
        "wires": [
            [
                "ede37121c2f7244a"
            ],
            [
                "a73211f57a3b65c8"
            ]
        ]
    },
    {
        "id": "ede37121c2f7244a",
        "type": "exec",
        "z": "827583e3690d12a9",
        "command": "cat \"/data/Datos_v1.csv\"",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "0",
        "winHide": true,
        "oldrc": false,
        "name": "sel cat v1",
        "x": 620,
        "y": 470,
        "wires": [
            [
                "a6a925618572caa5"
            ],
            [],
            []
        ]
    },
    {
        "id": "a6a925618572caa5",
        "type": "function",
        "z": "827583e3690d12a9",
        "name": "Parse V1",
        "func": "var src='v1';\nvar lines=msg.payload.split('\\n').filter(function(l){return l.trim()!==''});\nvar recs=[];\nfor(var i=1;i<lines.length;i++){\n  var c=lines[i].split(',');if(c.length<4)continue;\n  var v1=parseFloat(c[1]),v2=parseFloat(c[2]),w=parseFloat(c[3]);\n  if(!isNaN(v1)&&!isNaN(v2)&&!isNaN(w))recs.push({var1:v1,var2:v2,w:w});\n}\nif(!recs.length)return null;\nvar n=recs.length,sum=0,mn=recs[0].w,mx=recs[0].w;\nfor(var i=0;i<n;i++){sum+=recs[i].w;\n  if(recs[i].w<mn)mn=recs[i].w;\n  if(recs[i].w>mx)mx=recs[i].w;}\nvar mean=sum/n,v=0;\nfor(var i=0;i<n;i++)v+=(recs[i].w-mean)*(recs[i].w-mean);\nvar stdev=Math.sqrt(v/n);\nvar ws=recs.map(function(r){return r.w;}).sort(function(a,b){return a-b;});\nvar q1=ws[Math.floor(n*0.25)],q3=ws[Math.floor(n*0.75)];\nvar median=n%2===0?(ws[n/2-1]+ws[n/2])/2:ws[Math.floor(n/2)];\nvar stats={source:src,n:n,\n  mean:parseFloat(mean.toFixed(5)),stdev:parseFloat(stdev.toFixed(5)),\n  min:parseFloat(mn.toFixed(5)),max:parseFloat(mx.toFixed(5)),\n  median:parseFloat(median.toFixed(5)),\n  q1:parseFloat(q1.toFixed(5)),q3:parseFloat(q3.toFixed(5)),\n  iqr:parseFloat((q3-q1).toFixed(5))};\nvar st=Math.max(1,Math.ceil(n/8000)),mnH=recs[0].w,mxH=recs[0].w,hs=[];\nfor(var i=0;i<n;i+=st){hs.push(recs[i]);\n  if(recs[i].w<mnH)mnH=recs[i].w;\n  if(recs[i].w>mxH)mxH=recs[i].w;}\nvar hp=[];\nfor(var i=0;i<hs.length;i++)\n  hp.push({x:hs[i].var1/762,y:hs[i].var2/458,n:(hs[i].w-mnH)/(mxH-mnH+1e-9)});\nvar mStats={payload:JSON.stringify({type:'stats',label:'Experimento V1',color:'#1565C0',stats:stats})};\nvar mHeat={payload:JSON.stringify({type:'heat',source:'v1',pts:hp,\n  minW:parseFloat(mnH.toFixed(4)),maxW:parseFloat(mxH.toFixed(4))})};\nnode.status({fill:'green',shape:'dot',text:'v1 listo'});\nreturn [mStats, mHeat];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 470,
        "wires": [
            [
                "5f2da5b2fdd3d56c"
            ],
            [
                "7cb172e8c0c505af"
            ]
        ]
    },
    {
        "id": "a73211f57a3b65c8",
        "type": "exec",
        "z": "827583e3690d12a9",
        "command": "cat \"/data/Datos_v2.csv\"",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "0",
        "winHide": true,
        "oldrc": false,
        "name": "sel cat v2",
        "x": 620,
        "y": 540,
        "wires": [
            [
                "d6c134e9b162920c"
            ],
            [],
            []
        ]
    },
    {
        "id": "d6c134e9b162920c",
        "type": "function",
        "z": "827583e3690d12a9",
        "name": "Parse V2",
        "func": "var src='v2';\nvar lines=msg.payload.split('\\n').filter(function(l){return l.trim()!==''});\nvar recs=[];\nfor(var i=1;i<lines.length;i++){\n  var c=lines[i].split(',');if(c.length<4)continue;\n  var v1=parseFloat(c[1]),v2=parseFloat(c[2]),w=parseFloat(c[3]);\n  if(!isNaN(v1)&&!isNaN(v2)&&!isNaN(w))recs.push({var1:v1,var2:v2,w:w});\n}\nif(!recs.length)return null;\nvar n=recs.length,sum=0,mn=recs[0].w,mx=recs[0].w;\nfor(var i=0;i<n;i++){sum+=recs[i].w;\n  if(recs[i].w<mn)mn=recs[i].w;\n  if(recs[i].w>mx)mx=recs[i].w;}\nvar mean=sum/n,v=0;\nfor(var i=0;i<n;i++)v+=(recs[i].w-mean)*(recs[i].w-mean);\nvar stdev=Math.sqrt(v/n);\nvar ws=recs.map(function(r){return r.w;}).sort(function(a,b){return a-b;});\nvar q1=ws[Math.floor(n*0.25)],q3=ws[Math.floor(n*0.75)];\nvar median=n%2===0?(ws[n/2-1]+ws[n/2])/2:ws[Math.floor(n/2)];\nvar stats={source:src,n:n,\n  mean:parseFloat(mean.toFixed(5)),stdev:parseFloat(stdev.toFixed(5)),\n  min:parseFloat(mn.toFixed(5)),max:parseFloat(mx.toFixed(5)),\n  median:parseFloat(median.toFixed(5)),\n  q1:parseFloat(q1.toFixed(5)),q3:parseFloat(q3.toFixed(5)),\n  iqr:parseFloat((q3-q1).toFixed(5))};\nvar st=Math.max(1,Math.ceil(n/8000)),mnH=recs[0].w,mxH=recs[0].w,hs=[];\nfor(var i=0;i<n;i+=st){hs.push(recs[i]);\n  if(recs[i].w<mnH)mnH=recs[i].w;\n  if(recs[i].w>mxH)mxH=recs[i].w;}\nvar hp=[];\nfor(var i=0;i<hs.length;i++)\n  hp.push({x:hs[i].var1/762,y:hs[i].var2/458,n:(hs[i].w-mnH)/(mxH-mnH+1e-9)});\nvar mStats={payload:JSON.stringify({type:'stats',label:'Experimento V2',color:'#c62828',stats:stats})};\nvar mHeat={payload:JSON.stringify({type:'heat',source:'v2',pts:hp,\n  minW:parseFloat(mnH.toFixed(4)),maxW:parseFloat(mxH.toFixed(4))})};\nnode.status({fill:'green',shape:'dot',text:'v2 listo'});\nreturn [mStats, mHeat];",
        "outputs": 2,
        "noerr": 0,
        "x": 840,
        "y": 540,
        "wires": [
            [
                "5f2da5b2fdd3d56c"
            ],
            [
                "7cb172e8c0c505af"
            ]
        ]
    },
    {
        "id": "ceb6b0f3a5599c76",
        "type": "debug",
        "z": "827583e3690d12a9",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 580,
        "wires": []
    },
    {
        "id": "d094a2a61315cdc6",
        "type": "ui_template",
        "z": "827583e3690d12a9",
        "group": "acdf26d3ee2e456f",
        "name": "Live V1",
        "order": 1,
        "width": 13,
        "height": 5,
        "format": "\n<style>\n*{box-sizing:border-box;margin:0;padding:0;}\n.card{\n  width:100%;height:100%;\n  background:linear-gradient(145deg,#0d1b2a 0%,#112240 60%,#0d1b2a 100%);\n  border-radius:12px;border:1px solid rgba(21,101,192,0.25);\n  padding:14px;display:flex;flex-direction:column;\n  font-family:'DM Sans',Roboto,sans-serif;\n  box-shadow:0 8px 32px rgba(0,0,0,0.45),inset 0 1px 0 rgba(255,255,255,0.05);\n}\n.ch{\n  font-size:10px;font-weight:700;letter-spacing:.12em;\n  text-transform:uppercase;\n  color:#64b5f6;margin-bottom:10px;\n  border-bottom:1px solid rgba(21,101,192,0.3);padding-bottom:6px;\n  display:flex;align-items:center;gap:6px;\n}\n.ch::before{content:'';width:6px;height:6px;border-radius:50%;\n  background:#1565C0;box-shadow:0 0 8px #1565C0;display:inline-block;}\n.grow{display:flex;align-items:center;gap:14px;flex-shrink:0;}\n.val-v1{font-size:26px;font-weight:700;color:#42a5f5;line-height:1;\n  text-shadow:0 0 20px rgba(66,165,245,0.5);}\n.sub{font-size:10px;color:#546e8a;margin-top:3px;}\ncanvas.gcv{flex-shrink:0;}\ncanvas.lcv{display:block;width:100%;flex:1;min-height:110px;\n  border-radius:6px;\n  background:rgba(0,0,0,0.3);\n  border:1px solid rgba(21,101,192,0.15);\n  margin-top:8px;}\n</style>\n<div class=\"card\">\n  <div class=\"ch\">Lectura en Vivo — V1</div>\n  <div class=\"grow\">\n    <canvas class=\"gcv\" id=\"g1\" width=\"150\" height=\"82\"></canvas>\n    <div>\n      <div class=\"val-v1\" id=\"gv1\">--</div>\n      <div class=\"sub\">W · Potencia Activa</div>\n    </div>\n  </div>\n  <canvas class=\"lcv\" id=\"l1\"></canvas>\n</div>\n<script>\n(function(){\n  var MIN=21.0, MAX=23.1, h1=[], MH=120;\n  function gauge(val) {\n    var cv = document.getElementById('g1');\n    if (!cv) return;\n    var W = cv.width, H = cv.height, cx = cv.getContext('2d');\n    cx.clearRect(0, 0, W, H);\n    var x0 = W / 2, y0 = H - 4, r = H - 14;\n    cx.beginPath();\n    cx.arc(x0, y0, r, Math.PI, 0);\n    cx.fillStyle = 'rgba(13,27,42,0.8)';\n    cx.fill();\n    cx.beginPath();\n    cx.arc(x0, y0, r, Math.PI, 0);\n    cx.strokeStyle = 'rgba(21,101,192,0.2)';\n    cx.lineWidth = 2;\n    cx.stroke();\n    var t = Math.max(0, Math.min(1, (val - MIN) / (MAX - MIN)));\n    var grad = cx.createRadialGradient(x0, y0, 0, x0, y0, r);\n    grad.addColorStop(0, 'rgba(21,101,192,0.6)');\n    grad.addColorStop(1, 'rgba(66,165,245,0.8)');\n    cx.beginPath();\n    cx.moveTo(x0, y0);\n    cx.arc(x0, y0, r, Math.PI, Math.PI + (t * Math.PI));\n    cx.fillStyle = grad;\n    cx.fill();\n    var a = Math.PI + (t * Math.PI);\n    cx.beginPath();\n    cx.moveTo(x0, y0);\n    cx.lineTo(x0 + Math.cos(a) * (r - 2), y0 + Math.sin(a) * (r - 2));\n    cx.strokeStyle = '#fff';\n    cx.lineWidth = 2;\n    cx.stroke();\n    cx.beginPath();\n    cx.arc(x0, y0, 5, 0, 2 * Math.PI);\n    cx.fillStyle = '#42a5f5';\n    cx.fill();\n    cx.fillStyle = '#546e8a';\n    cx.font = '9px Roboto';\n    cx.textAlign = 'center';\n    cx.fillText(MIN.toFixed(1), x0 - r + 10, y0 + 12);\n    cx.fillText(MAX.toFixed(1), x0 + r - 10, y0 + 12);\n    }\n  function line(data){\n    var cv=document.getElementById('l1');if(!cv)return;\n    var W=cv.offsetWidth||400,H=cv.offsetHeight||110;\n    cv.width=W;cv.height=H;\n    var cx=cv.getContext('2d');\n    cx.clearRect(0,0,W,H);\n    if(data.length<2)return;\n    var p=4,cw=W-2*p,ch=H-2*p;\n    var grad=cx.createLinearGradient(0,0,0,H);\n    grad.addColorStop(0,'rgba(66,165,245,0.15)');\n    grad.addColorStop(1,'rgba(66,165,245,0)');\n    cx.beginPath();cx.strokeStyle='#42a5f5';cx.lineWidth=1.5;\n    for(var i=0;i<data.length;i++){\n      var x=p+i/(data.length-1)*cw;\n      var y=p+(1-(data[i]-MIN)/(MAX-MIN))*ch;\n      if(i===0)cx.moveTo(x,y);else cx.lineTo(x,y);\n    }\n    cx.stroke();\n    cx.lineTo(p+cw,p+ch);cx.lineTo(p,p+ch);\n    cx.closePath();cx.fillStyle=grad;cx.fill();\n  }\n  scope.$watch('msg',function(msg){\n    if(!msg||!msg.payload)return;\n    try{\n      var d=typeof msg.payload==='string'?JSON.parse(msg.payload):msg.payload;\n      if(d.type!=='tick1')return;\n      gauge(d.w);\n      document.getElementById('gv1').textContent=d.w.toFixed(5);\n      h1.push(d.w);if(h1.length>MH)h1.shift();\n      line(h1);\n    }catch(e){}\n  });\n  gauge(MIN);\n}());\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9cfc8e453cd009df",
        "type": "ui_template",
        "z": "827583e3690d12a9",
        "group": "44a61e830d1a4b77",
        "name": "Live V2",
        "order": 1,
        "width": 13,
        "height": 5,
        "format": "\n<style>\n*{box-sizing:border-box;margin:0;padding:0;}\n.card{\n  width:100%;height:100%;\n  background:linear-gradient(145deg,#1a0a0a 0%,#2c1010 60%,#1a0a0a 100%);\n  border-radius:12px;border:1px solid rgba(198,40,40,0.25);\n  padding:14px;display:flex;flex-direction:column;\n  font-family:'DM Sans',Roboto,sans-serif;\n  box-shadow:0 8px 32px rgba(0,0,0,0.45),inset 0 1px 0 rgba(255,255,255,0.05);\n}\n.ch{\n  font-size:10px;font-weight:700;letter-spacing:.12em;\n  text-transform:uppercase;\n  color:#ef9a9a;margin-bottom:10px;\n  border-bottom:1px solid rgba(198,40,40,0.3);padding-bottom:6px;\n  display:flex;align-items:center;gap:6px;\n}\n.ch::before{content:'';width:6px;height:6px;border-radius:50%;\n  background:#c62828;box-shadow:0 0 8px #c62828;display:inline-block;}\n.grow{display:flex;align-items:center;gap:14px;flex-shrink:0;}\n.val{font-size:26px;font-weight:700;color:#ef5350;line-height:1;\n  text-shadow:0 0 20px rgba(239,83,80,0.5);}\n.sub{font-size:10px;color:#6a3535;margin-top:3px;}\ncanvas.gcv{flex-shrink:0;}\ncanvas.lcv{display:block;width:100%;flex:1;min-height:110px;\n  border-radius:6px;\n  background:rgba(0,0,0,0.3);\n  border:1px solid rgba(198,40,40,0.15);\n  margin-top:8px;}\n</style>\n<div class=\"card\">\n  <div class=\"ch\">Lectura en Vivo — V2</div>\n  <div class=\"grow\">\n    <canvas class=\"gcv\" id=\"g2\" width=\"150\" height=\"82\"></canvas>\n    <div>\n      <div class=\"val\" id=\"gv2\">--</div>\n      <div class=\"sub\">W · Potencia Activa</div>\n    </div>\n  </div>\n  <canvas class=\"lcv\" id=\"l2\"></canvas>\n</div>\n<script>\n(function(){\n  var MIN=21.0, MAX=23.1, h2=[], MH=120;\n  function gauge(val) {\n    var cv = document.getElementById('g2');\n    if (!cv) return;\n    var W = cv.width, H = cv.height, cx = cv.getContext('2d');\n    cx.clearRect(0, 0, W, H);\n    var x0 = W / 2, y0 = H - 4, r = H - 14;\n    cx.beginPath();\n    cx.arc(x0, y0, r, Math.PI, 0);\n    cx.fillStyle = 'rgba(26,10,10,0.8)';\n    cx.fill();\n    cx.beginPath();\n    cx.arc(x0, y0, r, Math.PI, 0);\n    cx.strokeStyle = 'rgba(198,40,40,0.2)';\n    cx.lineWidth = 2;\n    cx.stroke();\n    var t = Math.max(0, Math.min(1, (val - MIN) / (MAX - MIN)));\n    var grad = cx.createRadialGradient(x0, y0, 0, x0, y0, r);\n    grad.addColorStop(0, 'rgba(198,40,40,0.6)');\n    grad.addColorStop(1, 'rgba(239,83,80,0.8)');\n    cx.beginPath();\n    cx.moveTo(x0, y0);\n    cx.arc(x0, y0, r, Math.PI, Math.PI + (t * Math.PI));\n    cx.fillStyle = grad;\n    cx.fill();\n    var a = Math.PI + (t * Math.PI);\n    cx.beginPath();\n    cx.moveTo(x0, y0);\n    cx.lineTo(x0 + Math.cos(a) * (r - 2), y0 + Math.sin(a) * (r - 2));\n    cx.strokeStyle = '#fff';\n    cx.lineWidth = 2;\n    cx.stroke();\n    cx.beginPath();\n    cx.arc(x0, y0, 5, 0, 2 * Math.PI);\n    cx.fillStyle = '#ef5350';\n    cx.fill();\n    cx.fillStyle = '#6a3535';\n    cx.font = '9px Roboto';\n    cx.textAlign = 'center';\n    cx.fillText(MIN.toFixed(1), x0 - r + 10, y0 + 12);\n    cx.fillText(MAX.toFixed(1), x0 + r - 10, y0 + 12);\n    }\n  function line(data){\n    var cv=document.getElementById('l2');if(!cv)return;\n    var W=cv.offsetWidth||400,H=cv.offsetHeight||110;\n    cv.width=W;cv.height=H;\n    var cx=cv.getContext('2d');\n    cx.clearRect(0,0,W,H);\n    if(data.length<2)return;\n    var p=4,cw=W-2*p,ch=H-2*p;\n    var grad=cx.createLinearGradient(0,0,0,H);\n    grad.addColorStop(0,'rgba(239,83,80,0.15)');\n    grad.addColorStop(1,'rgba(239,83,80,0)');\n    cx.beginPath();cx.strokeStyle='#ef5350';cx.lineWidth=1.5;\n    for(var i=0;i<data.length;i++){\n      var x=p+i/(data.length-1)*cw;\n      var y=p+(1-(data[i]-MIN)/(MAX-MIN))*ch;\n      if(i===0)cx.moveTo(x,y);else cx.lineTo(x,y);\n    }\n    cx.stroke();\n    cx.lineTo(p+cw,p+ch);cx.lineTo(p,p+ch);\n    cx.closePath();cx.fillStyle=grad;cx.fill();\n  }\n  scope.$watch('msg',function(msg){\n    if(!msg||!msg.payload)return;\n    try{\n      var d=typeof msg.payload==='string'?JSON.parse(msg.payload):msg.payload;\n      if(d.type!=='tick2')return;\n      gauge(d.w);\n      document.getElementById('gv2').textContent=d.w.toFixed(5);\n      h2.push(d.w);if(h2.length>MH)h2.shift();\n      line(h2);\n    }catch(e){}\n  });\n  gauge(MIN);\n}());\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0413d4de6cb1ecac",
        "type": "ui_template",
        "z": "827583e3690d12a9",
        "group": "",
        "name": "Global Dark CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n/* 1. ROOT & BODY — blanco */\nhtml, body,\nmd-content,\nmd-content.md-default-theme,\n.md-default-theme md-content,\n.nr-dashboard-background,\n#nr-dashboard-body,\n.nr-dashboard-main {\n  background-color: #f0f4f8 !important;\n  background: #f0f4f8 !important;\n}\n\n/* 2. md-card — tarjetas oscuras */\nmd-card,\n.md-card,\nmd-card.md-default-theme,\n.md-default-theme md-card {\n  background: #0d1b2a !important;\n  background-color: #0d1b2a !important;\n  border: 1px solid rgba(100,181,246,0.12) !important;\n  border-radius: 12px !important;\n  box-shadow: 0 4px 24px rgba(0,0,0,0.25) !important;\n  color: #b0bec5 !important;\n}\n\nmd-card-content,\nmd-card > md-card-content {\n  background: transparent !important;\n}\n\n/* 3. Group title / header */\n.nr-dashboard-widget-group-title,\n.nr-dashboard-group .nr-dashboard-widget-group-title,\n.nr-dashboard .nr-dashboard-widget-group-title {\n  background: rgba(13,31,60,0.85) !important;\n  color: #64b5f6 !important;\n  font-family: 'DM Sans', Roboto, sans-serif !important;\n  font-size: 11px !important;\n  font-weight: 700 !important;\n  letter-spacing: .12em !important;\n  text-transform: uppercase !important;\n  border-bottom: 1px solid rgba(21,101,192,0.25) !important;\n  border-radius: 12px 12px 0 0 !important;\n}\n\n/* 4. Group/widget wrappers */\n.nr-dashboard-groups,\n.nr-dashboard-group,\n.nr-dashboard-groups > *,\n.nr-dashboard-group > *,\n.nr-dashboard-widget,\n.nr-dashboard-template {\n  background: transparent !important;\n}\n\n/* 5. Toolbar */\nmd-toolbar,\nmd-toolbar.md-default-theme,\n.md-default-theme md-toolbar,\n.nr-dashboard-toolbar {\n  background: linear-gradient(90deg, #0a1628 0%, #0d1f3c 100%) !important;\n  background-color: #0a1628 !important;\n  border-bottom: 1px solid rgba(21,101,192,0.3) !important;\n}\n\n/* 6. Buttons */\n.nr-dashboard button,\nbutton.nr-dashboard-button {\n  border-radius: 6px !important;\n  font-weight: 700 !important;\n  letter-spacing: .08em !important;\n  font-family: 'DM Sans', Roboto, sans-serif !important;\n  box-shadow: 0 4px 15px rgba(0,0,0,0.3) !important;\n  border: none !important;\n  text-transform: uppercase !important;\n  transition: filter .15s ease, transform .1s ease !important;\n}\n\n.nr-dashboard button:hover {\n  filter: brightness(1.15) !important;\n  transform: translateY(-1px) !important;\n}\n\n/* 7. Scrollbar */\n::-webkit-scrollbar { width: 6px; height: 6px; }\n::-webkit-scrollbar-track { background: #f0f4f8; }\n::-webkit-scrollbar-thumb { background: rgba(21,101,192,0.25); border-radius: 3px; }\n::-webkit-scrollbar-thumb:hover { background: rgba(21,101,192,0.5); }\n</style>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 830,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "a08f37071d3ab25a",
        "type": "ui_template",
        "z": "827583e3690d12a9",
        "group": "c88e9dd5958e833b",
        "name": "Dashboard Simulación",
        "order": 1,
        "width": "24",
        "height": "22",
        "format": "\n<style>\n*{box-sizing:border-box;margin:0;padding:0;}\n.app{\n  width:100%;min-height:100%;\n  padding:14px;background:#f0f4f8;\n  font-family:'DM Sans',Roboto,sans-serif;\n  display:grid;\n  grid-template-columns:1fr 1fr;\n  grid-template-rows:auto auto auto;\n  gap:14px;\n}\n.card{\n  background:#fff;border-radius:10px;\n  box-shadow:0 1px 6px rgba(0,0,0,.09);\n  padding:14px;display:flex;flex-direction:column;\n}\n.card.full{grid-column:1/3;}\n.ch{\n  font-size:10px;font-weight:700;letter-spacing:.08em;\n  text-transform:uppercase;color:#6b7a90;margin-bottom:10px;\n}\n/* KPIs */\n.kpi-row{display:flex;gap:12px;grid-column:1/3;}\n.kpi{\n  flex:1;background:#fff;border-radius:10px;\n  box-shadow:0 1px 6px rgba(0,0,0,.09);\n  padding:14px;display:flex;flex-direction:column;align-items:center;\n}\n.kpi-val{font-size:28px;font-weight:800;line-height:1;}\n.kpi-lbl{font-size:10px;color:#9e9e9e;margin-top:4px;text-align:center;}\n/* Canvas charts */\ncanvas.cv{display:block;width:100%;height:220px;}\n/* Tabla top */\ntable.tt{width:100%;border-collapse:collapse;font-size:11px;}\ntable.tt th{background:#f5f8ff;color:#6b7a90;font-size:10px;font-weight:700;\n  padding:5px 7px;text-align:left;border-bottom:2px solid #e3eaf3;white-space:nowrap;}\ntable.tt td{padding:5px 7px;border-bottom:1px solid #f0f4f8;vertical-align:middle;}\ntable.tt tr:last-child td{border-bottom:none;}\ntable.tt tr:hover td{background:#f5f8ff;}\n.badge{\n  display:inline-block;padding:2px 7px;border-radius:10px;\n  font-size:10px;font-weight:700;color:#fff;\n}\n.bg1{background:#1565C0;} .bg2{background:#2E7D32;} .bg3{background:#E65100;}\n/* Slider stock */\n.slider-wrap{display:flex;align-items:center;gap:10px;margin-bottom:8px;font-size:12px;color:#546e7a;}\ninput[type=range]{flex:1;accent-color:#1565C0;}\n.slider-val{font-weight:700;color:#1565C0;min-width:40px;}\n.espera-badge{\n  padding:4px 12px;border-radius:6px;font-size:13px;font-weight:700;\n  display:inline-block;margin-left:8px;\n}\n</style>\n\n<div class=\"app\">\n\n  <!-- KPIs -->\n  <div class=\"kpi-row\">\n    <div class=\"kpi\">\n      <div class=\"kpi-val\" style=\"color:#1565C0;\">172</div>\n      <div class=\"kpi-lbl\">Máx. motores/día<br>(configuración óptima)</div>\n    </div>\n    <div class=\"kpi\">\n      <div class=\"kpi-val\" style=\"color:#2E7D32;\">260</div>\n      <div class=\"kpi-lbl\">Punto crítico óptimo<br>(espera = 0 min)</div>\n    </div>\n    <div class=\"kpi\">\n      <div class=\"kpi-val\" style=\"color:#E65100;\">1.458</div>\n      <div class=\"kpi-lbl\">Simulaciones<br>ejecutadas</div>\n    </div>\n    <div class=\"kpi\">\n      <div class=\"kpi-val\" style=\"color:#6A1B9A;\">+107%</div>\n      <div class=\"kpi-lbl\">Mejora producción<br>(min→max config)</div>\n    </div>\n  </div>\n\n  <!-- Gráfico stock: punto crítico vs espera -->\n  <div class=\"card\">\n    <div class=\"ch\">Punto crítico de stock vs Espera media</div>\n    <div class=\"slider-wrap\">\n      <span>Punto crítico:</span>\n      <input type=\"range\" id=\"slPC\" min=\"50\" max=\"260\" step=\"10\" value=\"130\">\n      <span class=\"slider-val\" id=\"slVal\">130</span>\n      <span class=\"espera-badge\" id=\"slEspera\" style=\"background:#e3eaf3;color:#1565C0;\">--</span>\n    </div>\n    <canvas class=\"cv\" id=\"cvStock\"></canvas>\n  </div>\n\n  <!-- Heatmap robots rotor x stator → producción media -->\n  <div class=\"card\">\n    <div class=\"ch\">Producción media — Robots Rotor × Robots Estátor</div>\n    <canvas class=\"cv\" id=\"cvHeat\"></canvas>\n  </div>\n\n  <!-- Barras assembly lines -->\n  <div class=\"card\">\n    <div class=\"ch\">Producción por número de líneas de ensamblaje</div>\n    <canvas class=\"cv\" id=\"cvLines\"></canvas>\n  </div>\n\n  <!-- Top configuraciones -->\n  <div class=\"card\">\n    <div class=\"ch\">Top configuraciones — Mayor producción</div>\n    <table class=\"tt\">\n      <thead>\n        <tr>\n          <th>#</th>\n          <th>Rob. Rotor</th>\n          <th>Rob. Estátor</th>\n          <th>Op. Rotor</th>\n          <th>Op. Estátor</th>\n          <th>Líneas</th>\n          <th>Motores/día</th>\n        </tr>\n      </thead>\n      <tbody id=\"topTbl\"></tbody>\n    </table>\n  </div>\n\n</div>\n\n<script>\n(function(){\n  'use strict';\n\n  var STOCK = [{\"x\": 50.0, \"y\": 319.99}, {\"x\": 60.0, \"y\": 278.18}, {\"x\": 70.0, \"y\": 257.79}, {\"x\": 80.0, \"y\": 235.71}, {\"x\": 90.0, \"y\": 216.67}, {\"x\": 100.0, \"y\": 175.74}, {\"x\": 110.0, \"y\": 156.35}, {\"x\": 120.0, \"y\": 132.39}, {\"x\": 130.0, \"y\": 112.63}, {\"x\": 140.0, \"y\": 82.8}, {\"x\": 150.0, \"y\": 69.53}, {\"x\": 160.0, \"y\": 54.24}, {\"x\": 170.0, \"y\": 42.3}, {\"x\": 180.0, \"y\": 27.3}, {\"x\": 190.0, \"y\": 22.4}, {\"x\": 200.0, \"y\": 16.92}, {\"x\": 210.0, \"y\": 10.34}, {\"x\": 220.0, \"y\": 2.52}, {\"x\": 230.0, \"y\": 0.97}, {\"x\": 240.0, \"y\": 0.45}, {\"x\": 250.0, \"y\": 0.37}, {\"x\": 260.0, \"y\": 0.0}];\n  var HM    = [{\"rr\": 2, \"sr\": 2, \"avg\": 102.6, \"max\": 114}, {\"rr\": 2, \"sr\": 3, \"avg\": 122.3, \"max\": 161}, {\"rr\": 2, \"sr\": 4, \"avg\": 119.5, \"max\": 161}, {\"rr\": 3, \"sr\": 2, \"avg\": 101.3, \"max\": 116}, {\"rr\": 3, \"sr\": 3, \"avg\": 122.1, \"max\": 167}, {\"rr\": 3, \"sr\": 4, \"avg\": 124.8, \"max\": 170}, {\"rr\": 4, \"sr\": 2, \"avg\": 95.8, \"max\": 112}, {\"rr\": 4, \"sr\": 3, \"avg\": 116.1, \"max\": 160}, {\"rr\": 4, \"sr\": 4, \"avg\": 123.1, \"max\": 172}];\n  var AL    = [{\"al\": 3, \"avg\": 113.8, \"max\": 165}, {\"al\": 4, \"avg\": 114.4, \"max\": 170}, {\"al\": 5, \"avg\": 114.3, \"max\": 172}];\n  var TOP   = [{\"rotor_robots\": 4, \"stator_robots\": 4, \"rotor_operators\": 4, \"stator_operators\": 2, \"assembly_lines\": 5, \"produced_motors\": 172}, {\"rotor_robots\": 4, \"stator_robots\": 4, \"rotor_operators\": 4, \"stator_operators\": 3, \"assembly_lines\": 5, \"produced_motors\": 172}, {\"rotor_robots\": 3, \"stator_robots\": 4, \"rotor_operators\": 4, \"stator_operators\": 2, \"assembly_lines\": 4, \"produced_motors\": 170}, {\"rotor_robots\": 3, \"stator_robots\": 4, \"rotor_operators\": 4, \"stator_operators\": 3, \"assembly_lines\": 5, \"produced_motors\": 170}];\n\n  /* ── COLORES ──────────────────────────────────────── */\n  function lerp3(t, c0, c1) {\n    return [\n      Math.round(c0[0] + t*(c1[0]-c0[0])),\n      Math.round(c0[1] + t*(c1[1]-c0[1])),\n      Math.round(c0[2] + t*(c1[2]-c0[2]))\n    ];\n  }\n  function prodColor(val, mn, mx) {\n    var t = (val-mn)/(mx-mn||1);\n    var c = t < 0.5\n      ? lerp3(t*2,  [239,108,0],  [255,193,7])\n      : lerp3((t-0.5)*2, [255,193,7], [46,125,50]);\n    return 'rgb('+c[0]+','+c[1]+','+c[2]+')';\n  }\n\n  /* ── GRÁFICO STOCK ────────────────────────────────── */\n  function drawStock(highlight) {\n    var cv = document.getElementById('cvStock'); if(!cv) return;\n    var W=cv.offsetWidth||500, H=cv.offsetHeight||220;\n    cv.width=W; cv.height=H;\n    var cx=cv.getContext('2d');\n    cx.fillStyle='#fafafa'; cx.fillRect(0,0,W,H);\n\n    var pad={t:15,r:20,b:35,l:55};\n    var cw=W-pad.l-pad.r, ch=H-pad.t-pad.b;\n    var maxY=320, minX=50, maxX=260;\n\n    // Grid\n    cx.strokeStyle='#eef2f7'; cx.lineWidth=1;\n    for(var g=0;g<=4;g++){\n      var gy=pad.t+g*(ch/4);\n      cx.beginPath();cx.moveTo(pad.l,gy);cx.lineTo(pad.l+cw,gy);cx.stroke();\n      cx.fillStyle='#9e9e9e';cx.font='9px Roboto';cx.textAlign='right';\n      cx.fillText(Math.round(maxY-g*(maxY/4)), pad.l-4, gy+3);\n    }\n    // Zona óptima\n    var xOpt = pad.l + (260-minX)/(maxX-minX)*cw;\n    cx.fillStyle='rgba(46,125,50,0.07)';\n    cx.fillRect(xOpt, pad.t, pad.l+cw-xOpt, ch);\n    cx.strokeStyle='rgba(46,125,50,0.4)'; cx.lineWidth=1.5; cx.setLineDash([4,3]);\n    cx.beginPath(); cx.moveTo(xOpt,pad.t); cx.lineTo(xOpt,pad.t+ch); cx.stroke();\n    cx.setLineDash([]);\n    cx.fillStyle='rgba(46,125,50,0.7)'; cx.font='9px Roboto'; cx.textAlign='center';\n    cx.fillText('Óptimo', xOpt+16, pad.t+12);\n\n    // Área rellena\n    cx.beginPath(); cx.moveTo(pad.l, pad.t+ch);\n    for(var i=0;i<STOCK.length;i++){\n      var px=pad.l+(STOCK[i].x-minX)/(maxX-minX)*cw;\n      var py=pad.t+ch-(STOCK[i].y/maxY)*ch;\n      if(i===0) cx.lineTo(px,py); else cx.lineTo(px,py);\n    }\n    cx.lineTo(pad.l+(STOCK[STOCK.length-1].x-minX)/(maxX-minX)*cw, pad.t+ch);\n    cx.closePath(); cx.fillStyle='rgba(21,101,192,0.12)'; cx.fill();\n\n    // Línea\n    cx.beginPath(); cx.strokeStyle='#1565C0'; cx.lineWidth=2;\n    for(var i=0;i<STOCK.length;i++){\n      var px=pad.l+(STOCK[i].x-minX)/(maxX-minX)*cw;\n      var py=pad.t+ch-(STOCK[i].y/maxY)*ch;\n      if(i===0) cx.moveTo(px,py); else cx.lineTo(px,py);\n    }\n    cx.stroke();\n\n    // Punto resaltado (slider)\n    var hd = STOCK.find(function(s){return s.x===highlight;});\n    if(hd){\n      var hpx=pad.l+(hd.x-minX)/(maxX-minX)*cw;\n      var hpy=pad.t+ch-(hd.y/maxY)*ch;\n      cx.beginPath(); cx.arc(hpx,hpy,5,0,2*Math.PI);\n      cx.fillStyle='#E65100'; cx.fill();\n      cx.strokeStyle='#fff'; cx.lineWidth=1.5; cx.stroke();\n      // Tooltip\n      var lbl=hd.y===0?'0 min':hd.y.toFixed(1)+' min';\n      cx.fillStyle='#E65100'; cx.font='bold 10px Roboto'; cx.textAlign='center';\n      cx.fillText(lbl, hpx, hpy-9);\n    }\n\n    // Eje X\n    cx.fillStyle='#9e9e9e'; cx.font='9px Roboto'; cx.textAlign='center';\n    for(var i=0;i<STOCK.length;i+=3){\n      var px=pad.l+(STOCK[i].x-minX)/(maxX-minX)*cw;\n      cx.fillText(STOCK[i].x, px, pad.t+ch+14);\n    }\n    cx.fillStyle='#546e7a'; cx.font='10px Roboto'; cx.textAlign='center';\n    cx.fillText('Punto Crítico de Stock (unidades)', pad.l+cw/2, H-4);\n  }\n\n  /* ── HEATMAP ROBOTS ───────────────────────────────── */\n  function drawHeat() {\n    var cv=document.getElementById('cvHeat'); if(!cv) return;\n    var W=cv.offsetWidth||500, H=cv.offsetHeight||220;\n    cv.width=W; cv.height=H;\n    var cx=cv.getContext('2d');\n    cx.fillStyle='#fafafa'; cx.fillRect(0,0,W,H);\n\n    var pad={t:30,r:20,b:40,l:60};\n    var cw=W-pad.l-pad.r, ch=H-pad.t-pad.b;\n    var robots=[2,3,4];\n    var cellW=cw/3, cellH=ch/3;\n    var vals=HM.map(function(d){return d.avg;});\n    var mn=Math.min.apply(null,vals), mx=Math.max.apply(null,vals);\n\n    HM.forEach(function(d){\n      var col=robots.indexOf(d.rr), row=robots.indexOf(d.sr);\n      var x=pad.l+col*cellW, y=pad.t+row*cellH;\n      cx.fillStyle=prodColor(d.avg,mn,mx);\n      cx.fillRect(x,y,cellW-2,cellH-2);\n      cx.fillStyle='#fff'; cx.font='bold 12px Roboto'; cx.textAlign='center';\n      cx.fillText(d.avg.toFixed(1), x+cellW/2, y+cellH/2-4);\n      cx.font='9px Roboto'; cx.fillStyle='rgba(255,255,255,0.8)';\n      cx.fillText('máx:'+d.max, x+cellW/2, y+cellH/2+10);\n    });\n\n    // Ejes\n    cx.fillStyle='#6b7a90'; cx.font='10px Roboto'; cx.textAlign='center';\n    robots.forEach(function(r,i){\n      cx.fillText(r+' rob.', pad.l+i*cellW+cellW/2, pad.t-8);\n      cx.save(); cx.translate(pad.l-8, pad.t+i*cellH+cellH/2);\n      cx.rotate(-Math.PI/2); cx.fillText(r+' rob.', 0, 0); cx.restore();\n    });\n    cx.font='10px Roboto'; cx.fillStyle='#546e7a';\n    cx.fillText('Robots Rotor →', pad.l+cw/2, H-4);\n    cx.save(); cx.translate(12, pad.t+ch/2); cx.rotate(-Math.PI/2);\n    cx.fillText('Robots Estátor →', 0, 0); cx.restore();\n  }\n\n  /* ── BARRAS ASSEMBLY LINES ────────────────────────── */\n  function drawLines() {\n    var cv=document.getElementById('cvLines'); if(!cv) return;\n    var W=cv.offsetWidth||500, H=cv.offsetHeight||220;\n    cv.width=W; cv.height=H;\n    var cx=cv.getContext('2d');\n    cx.fillStyle='#fafafa'; cx.fillRect(0,0,W,H);\n\n    var pad={t:20,r:20,b:40,l:50};\n    var cw=W-pad.l-pad.r, ch=H-pad.t-pad.b;\n    var maxV=180;\n    var bw=cw/AL.length*0.5, gap=cw/AL.length;\n    var colors=['#1565C0','#1976D2','#1E88E5'];\n\n    // Grid\n    cx.strokeStyle='#eef2f7'; cx.lineWidth=1;\n    for(var g=0;g<=4;g++){\n      var gy=pad.t+g*(ch/4);\n      cx.beginPath();cx.moveTo(pad.l,gy);cx.lineTo(pad.l+cw,gy);cx.stroke();\n      cx.fillStyle='#9e9e9e';cx.font='9px Roboto';cx.textAlign='right';\n      cx.fillText(Math.round(maxV-g*(maxV/4)), pad.l-4, gy+3);\n    }\n\n    AL.forEach(function(d,i){\n      var x=pad.l+i*gap+(gap-bw)/2;\n      // Barra avg\n      var hAvg=d.avg/maxV*ch;\n      cx.fillStyle=colors[i];\n      cx.fillRect(x, pad.t+ch-hAvg, bw*0.55, hAvg);\n      // Barra max (outline)\n      var hMax=d.max/maxV*ch;\n      cx.strokeStyle=colors[i]; cx.lineWidth=1.5;\n      cx.strokeRect(x+bw*0.6, pad.t+ch-hMax, bw*0.35, hMax);\n\n      cx.fillStyle='#1a2332'; cx.font='bold 11px Roboto'; cx.textAlign='center';\n      cx.fillText(d.avg.toFixed(0), x+bw*0.275, pad.t+ch-hAvg-5);\n      cx.fillStyle='#546e7a'; cx.font='9px Roboto';\n      cx.fillText(d.al+' líneas', x+bw*0.6, pad.t+ch+14);\n    });\n\n    // Leyenda\n    cx.fillStyle=colors[0]; cx.fillRect(pad.l, pad.t-2, 10, 8);\n    cx.fillStyle='#546e7a'; cx.font='9px Roboto'; cx.textAlign='left';\n    cx.fillText('Media', pad.l+13, pad.t+6);\n    cx.strokeStyle=colors[0]; cx.lineWidth=1.5; cx.strokeRect(pad.l+50, pad.t-2, 10, 8);\n    cx.fillText('Máximo', pad.l+63, pad.t+6);\n  }\n\n  /* ── TABLA TOP ────────────────────────────────────── */\n  function drawTop() {\n    var tb = document.getElementById('topTbl'); if(!tb) return;\n    var colors=['#1565C0','#2E7D32','#E65100','#6A1B9A','#37474F'];\n    tb.innerHTML = TOP.map(function(r,i){\n      var medal = i===0?'🥇':i===1?'🥈':'🥉';\n      return '<tr>'\n        +'<td><span class=\"badge\" style=\"background:'+colors[i]+'\">'+medal+' #'+(i+1)+'</span></td>'\n        +'<td style=\"text-align:center;font-weight:700;\">'+r.rotor_robots+'</td>'\n        +'<td style=\"text-align:center;font-weight:700;\">'+r.stator_robots+'</td>'\n        +'<td style=\"text-align:center;\">'+r.rotor_operators+'</td>'\n        +'<td style=\"text-align:center;\">'+r.stator_operators+'</td>'\n        +'<td style=\"text-align:center;\">'+r.assembly_lines+'</td>'\n        +'<td style=\"text-align:center;font-weight:800;color:'+colors[i]+'\">'+r.produced_motors+'</td>'\n        +'</tr>';\n    }).join('');\n  }\n\n  /* ── SLIDER ───────────────────────────────────────── */\n  function initSlider(){\n    var sl=document.getElementById('slPC');\n    var slVal=document.getElementById('slVal');\n    var slEsp=document.getElementById('slEspera');\n    if(!sl) return;\n    function update(){\n      var pc=parseInt(sl.value);\n      slVal.textContent=pc;\n      var d=STOCK.find(function(s){return s.x===pc;});\n      if(d){\n        var esp=d.y===0?'0 min':d.y.toFixed(1)+' min';\n        slEsp.textContent=esp;\n        slEsp.style.background=d.y===0?'rgba(46,125,50,0.15)':d.y<10?'rgba(255,193,7,0.2)':'rgba(239,108,0,0.15)';\n        slEsp.style.color=d.y===0?'#2E7D32':d.y<10?'#F57F17':'#E65100';\n      }\n      drawStock(pc);\n    }\n    sl.addEventListener('input', update);\n    update();\n  }\n\n  /* ── INIT ─────────────────────────────────────────── */\n  function init(){\n    drawStock(130);\n    drawHeat();\n    drawLines();\n    drawTop();\n    initSlider();\n  }\n\n  // Esperar a que el DOM esté listo\n  if(document.readyState==='complete'||document.readyState==='interactive'){\n    setTimeout(init, 100);\n  } else {\n    document.addEventListener('DOMContentLoaded', function(){ setTimeout(init,100); });\n  }\n\n  // También re-dibujar si cambia el tamaño\n  try {\n    new ResizeObserver(function(){\n      var sl=document.getElementById('slPC');\n      drawStock(sl?parseInt(sl.value):130);\n      drawHeat(); drawLines();\n    }).observe(document.body);\n  } catch(e){}\n\n}());\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 160,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "a132d00e9379acf9",
        "type": "ui_spacer",
        "z": "827583e3690d12a9",
        "name": "spacer",
        "group": "87aeeb5997624a18",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "4486aba12496453b",
        "type": "ui_spacer",
        "z": "827583e3690d12a9",
        "name": "spacer",
        "group": "87aeeb5997624a18",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "4a48fd6234c7ba72",
        "type": "ui_spacer",
        "z": "827583e3690d12a9",
        "name": "spacer",
        "group": "87aeeb5997624a18",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "c01c814d980ce2f9",
        "type": "ui_spacer",
        "z": "827583e3690d12a9",
        "name": "spacer",
        "group": "87aeeb5997624a18",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "b10210c26d8e2dc5",
        "type": "ui_spacer",
        "z": "827583e3690d12a9",
        "name": "spacer",
        "group": "87aeeb5997624a18",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "187809ebf15ce2f3",
        "type": "ui_spacer",
        "z": "827583e3690d12a9",
        "name": "spacer",
        "group": "87aeeb5997624a18",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "d68497fefc4941ef",
        "type": "ui_group",
        "name": "Selecciona:",
        "tab": "9423a417fc034002",
        "order": 3,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "87aeeb5997624a18",
        "type": "ui_group",
        "name": "Resumen Estadístico",
        "tab": "9423a417fc034002",
        "order": 4,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "ff074d9c6f7f4f0c",
        "type": "ui_group",
        "name": "Mapa Calor",
        "tab": "9423a417fc034002",
        "order": 5,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "acdf26d3ee2e456f",
        "type": "ui_group",
        "name": "V1 — Lectura en Vivo",
        "tab": "9423a417fc034002",
        "order": 1,
        "disp": false,
        "width": 13,
        "collapse": false
    },
    {
        "id": "44a61e830d1a4b77",
        "type": "ui_group",
        "name": "V2 — Lectura en Vivo",
        "tab": "9423a417fc034002",
        "order": 2,
        "disp": false,
        "width": 13,
        "collapse": false
    },
    {
        "id": "c88e9dd5958e833b",
        "type": "ui_group",
        "name": "Simulación",
        "tab": "551a588d496fd5ae",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false
    },
    {
        "id": "9423a417fc034002",
        "type": "ui_tab",
        "name": "Datos RL",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "551a588d496fd5ae",
        "type": "ui_tab",
        "name": "Simulación Fábrica",
        "icon": "factory",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bbf78be70dbe2dca",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]